<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="ThemeBucket">
    <meta name="keywords" content="{$tpshop_config['shop_info_store_keyword']}"/>
    <meta name="description" content="{$tpshop_config['shop_info_store_desc']}"/>

    <title>{$gemmapshop_config['shop_info_store_title']}</title>

    <link rel="shortcut icon" href="#" type="image/png">
    <!--dynamic table-->
    <link href="{$Think.const.CSS}/style.css" rel="stylesheet">
    <link href="{$Think.const.CSS}/style-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<style type="text/css">
    .panel {
        border: 1px solid #e7e7e7;
    }

    .formadd {
        padding: 0px;
    }

    .pagination {
        margin: 0;
    }

    .dataTables_paginate {
        padding: 0;
    }
    .panel-heading {
        border-bottom: 0px solid #ddd;

    }
</style>
<body class="sticky-header">

<section>

    <!-- main content start-->
    <div class="main-content" width="100%" style="margin:0px;">


        <!--body wrapper start-->
        <div class="wrapper">
            <!-- <include file="Public/breadcrumb"/> -->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading panel-body">
                            <div class="pull-left">
                                回收站列表
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a href="__MODULE__/Activity/activity/action/page_list/channel/{$channel}/type/{$type}"
                                       class="btn btn-default "><i class="fa fa-mail-reply-all"></i>
                                        返回列表</a>
                                </div>
                            </div>
                        </header>

                        <div class="">
                            <div class="adv-table">
                                <table id="list-table" class="table table-bordered table-hover" role="grid"
                                       aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row ">
                                        <if condition="$info_field">
                                            <th valign="middle">ID</th>
                                            <foreach name="info_field" item="vo1">
                                                <th id="filed" width="" valign="middle">{$vo1.title}</th>
                                            </foreach>
                                            <th width="56px" valign="middle">状态</th>
                                            <th width="6%">启用/停用 </th>
                                            <th width="71px" valign="middle">标签管理</th>
                                            <th valign="middle" width="9%">操作</th>
                                        </if>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--二维数组-->
                                    <foreach name="info" item="vo" key="vokey">
                                        <tr role="row" align="center" id="{$vo.id}">
                                            <foreach name="vo" item="vo1" key="vokey1">
                                                <if condition="$vo1.type eq 'image'">
                                                    <td class="text-center">
                                                        <img width="40" height="40" src="{$vo1.data}" onclick="preview(this)"/>
                                                    </td>
                                                    <elseif condition="$vokey1 eq 'is_active'"/>
                                                    <td>
                                                        <img width="20" height="20"
                                                             src="__PUBLIC__/images/<if condition='$vo1.data eq 1'>yes.png<else />cancel.png</if>"
                                                             onclick="changeTableVal('{$mod_id}','{$tableName}','id','{$vo.id.data}','is_active',this)"/>
                                                    </td>
                                                    <else />
                                                    <td>{$vo1.data}</td>
                                                </if>
                                            </foreach>

                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-default"
                                                       href="__URL__/activity/action/edit/channel/{$channel}/type/{$type}/id/{$vo.id.data}/is_deleted/0/recovery/1"
                                                       title="恢复"><i class="fa fa-reply"></i></a>
                                                    <a href="#delModal" data-toggle="modal" class="btn btn-default"
                                                       data-name="{$vo.title.data}" title="删除"
                                                       data-url="__URL__/activity/action/remove/channel/{$channel}/type/{$type}/id/{$vo.id.data}"
                                                       onclick="delModal(this)"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                                <!-- Modal -->
                                <div class="modal fade" id="delModal" tabtype="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                <h4 class="modal-title">信息</h4>
                                            </div>
                                            <div class="modal-body" id="del_info">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                        onclick="del_module();">
                                                    确定
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal"> 取消</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal -->
                                <div class="row-fluid panel-body">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            <label style="float:left">
                                                <select class="form-control" size="1" id="page_num" name="page_num"
                                                        aria-controls="dynamic-table" onchange="search()">
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </label>
                                            <label style="float:left;margin-left:10px;margin-top:7px">
                                                <span class=" wenzi" style="float:left">条每页，总共 {$count} 条</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <if condition="$page_now eq 1">    <!-- 上一页 -->
                                                    <li class="prev disabled">
                                                        <a href="#">
                                                            上一页
                                                        </a>
                                                    </li>
                                                    <else/>
                                                    <li class="prev">
                                                        <a href="{:U('Admin/User/type/page_now')}/{$page_now-1}/page_num/{$page_num}">
                                                            上一页
                                                        </a>
                                                    </li>
                                                </if>   <!-- 上一页 end -->

                                                <if condition="$page lt 5">    <!-- 页码条 -->
                                                    <for start="1" end="$page+1">   <!-- 循环四条以内 -->
                                                        <if condition="$i eq $page_now ">
                                                            <li class="active"><a href="#">{$i}</a></li>
                                                            <elseif condition="$i lt $page_now "/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                            <else/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                        </if>
                                                    </for>
                                                    <elseif condition="$page_now lt 3"/>
                                                    <for start="1" end="6">   <!-- 循环1-5 -->

                                                        <if condition="$i eq $page_now ">
                                                            <li class="active"><a href="#">{$page_now}</a></li>
                                                            <elseif condition="$i lt $page_now "/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                            <else/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                        </if>
                                                    </for>
                                                    <elseif condition="$page_now eq $page-1"/>
                                                    <for start="$page_now-3" end="$page+1">   <!-- 循环当前页为倒数第二页时 -->
                                                        <if condition="$i eq $page_now ">
                                                            <li class="active"><a href="#">{$page_now}</a></li>
                                                            <elseif condition="$i lt $page "/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                            <else/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                        </if>
                                                    </for>
                                                    <elseif condition="$page_now eq $page"/>
                                                    <for start="$page_now-4" end="$page+1">   <!-- 循环当前页为最后一页时 -->
                                                        <if condition="$i eq $page_now ">
                                                            <li class="active"><a href="#">{$page_now}</a></li>
                                                            <elseif condition="$i lt $page "/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                            <else/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                        </if>
                                                    </for>
                                                    <else/>
                                                    <for start="$page_now-2" end="$page_now+3">   <!-- 循环除了前五条 和后五条 -->

                                                        <if condition="$i eq $page_now ">
                                                            <li class="active"><a href="#">{$page_now}</a></li>
                                                            <elseif condition="$i lt $page "/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                            <else/>
                                                            <li>
                                                                <a href="{:U('Admin/User/type/page_now')}/{$i}/page_num/{$page_num}">{$i}</a>
                                                            </li>
                                                        </if>
                                                    </for>
                                                </if>   <!-- 页码条 end -->

                                                <if condition="($page_now neq $page) AND ($page neq 0)"> <!-- 下一页 -->
                                                    <li class="next ">
                                                        <a href="{:U('Admin/User/type/page_now/')}/{$page_now+1}/page_num/{$page_num}">
                                                            下一页
                                                        </a>
                                                    </li>
                                                    <else/>
                                                    <li class="next disabled">
                                                        <a href="#">
                                                            下一页
                                                        </a>
                                                    </li>
                                                </if><!-- 下一页 end-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->
</section>

<script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/js/myFormValidate.js"></script>
<script src="__PUBLIC__/js/layer/layer-min.js"></script>
<script src="__PUBLIC__/js/bootstrap.js" type="text/javascript"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$Think.const.JS}/jquery.nicescroll.js"></script>
<!--common scripts for all pages-->
<script src="{$Think.const.JS}/scripts.js"></script>
<script src="__PUBLIC__/js/myAjax.js"></script>

</body>
</html>

<script type="text/javascript">

    var modal_url;
    var modal_name;
    var modal_object;
    //删除数据
    function delModal(obj) {
        modal_object = $(obj);
        modal_url = $(obj).attr('data-url');
        modal_name = $(obj).attr('data-name');
        $("#del_info").html(" 会删除所有的资源，是否确认删除【" + modal_name + "】?");
    }

    function del_module() {
        $.get(modal_url, function (res) {
            if (res.result == 1) {
                layer.msg(res.msg);
                modal_object.parent().parent().parent().remove();
            } else {
                layer.msg(res.msg);
            }

        });
    }

    //图片预览
    function preview(id) {
        var src = "";
        if ($('#' + id).val()) {
            src = $('#' + id).val();
        } else {
            src = $('#' + id).attr("src");
        }
        var content;
        if (src == "") {
            content = '没有图片可供预览';
            layer.msg(content);
        }
        else {
            content = "<img width='300' height='300' src='" + src + "'>";
            layer.open({
                type: 1,
                title: false,
                closeBtn: false,
                area: ['300px', '300px'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: content
            });
        }
    }</script>
