<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>5U</title>
<meta name="keywords" content="京墨5U">
<meta name="description" content="京墨5U">
<link type="text/css" href="__PUBLIC__/home/css/css.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>

</head>
<style type="text/css">
.infoBox{ border: 1px solid #bfbfbf; border-radius: 10px; width: 500px; height: 480px; position: fixed; left: 0; bottom:20px; top: auto; right: 0; background: #fff; margin: auto; z-index: 9999; display:none;}
.back_2{position: fixed;left:0;top:0;right:0;bottom:0;margin:auto;background:#000;opacity:0.6;z-index: 99;display:none;}
.container{ width: 100%; height: 60px; overflow: hidden; background: #238efa;border-radius: 10px 10px 0 0; }
.container .center a { display: block; width: 28px; background: #fff; height:28px; border-radius: 100%; }
.container .center { right:15px; top: 12px; }
.pa { position: absolute; }
.container h1 { width: 70%; margin: 0 auto; font-weight: normal; font-size: 24px; text-align: center; height: 60px; line-height: 60px; overflow: hidden.; color: #fff; }
.secondInfo{padding:20px;}
.secondInfo li{margin-bottom:10px; width: 100%; height: 40px;}
.secondInfo input{width: 82%; height: 30px;line-height: 30px; padding-left: 5px;border: 1px solid #e4e4e4;}
.bannerBox button{width: 42%; line-height: 30px ; background:none; border: 1px solid #e4e4e4;}
.secondInfo span{float: left; line-height: 30px;font-size: 14px;}
.secondInfo p{ line-height: 30px;font-size: 20px;}
.bigTest{color:red;}
.young{ width: 140px; height:160px; overflow: hidden; }
.young img{ width: 100%; }
</style>
<body>
<!-- nav -->
<div class="nav_content" style="top:0;">
    <div class="nav_box">
        <nav>
            <div class="logo">
                <a class="" href="/index.php/Home/Index/index"><i></i>京墨5U<span>创建应用 不在烦恼</span></a>
            </div>
            <ul>
                <li><a href="/index.php/Home/Index/index">首页</a></li>
                <li><a href="javascript:;">产品</a></li>
                <li class="active"><a href="/index.php/Home/Trial/trialshow">试用</a></li>
                <li><a href="/index.php/Home/Consulting/consultingshow">咨询</a></li>
                <li><a href="/index.php/Home/Case/caseshow">案例</a></li>
                <li><a href="/index.php/Home/Help/helpshow">帮助</a></li>
            </ul>
            <div class="login">
                <a href="/index.php/Home/Index/login">登录</a>
                <a href="/index.php/Home/Index/register">注册</a>
            </div>
        </nav>
    </div>
</div>
<!-- nav_end -->

<section class="refer_banner">
    <div class="pic">
        <img src="__PUBLIC__/home/images/bgczx.png" alt="" />
        <div class="t_txt">
            <h4>24小时</h4>
            <p>免费提供面对面咨询服务</p>
            <a class="alert_btn" href="javascript:;">我要咨询</a>
        </div>
    </div>

</section>

<section class="try_nav">
    <ul>
        <li class="current"><a href="javascript:;">全部</a></li>
        <li><a href="javascript:;">电商</a></li>
        <li><a href="javascript:;">社交</a></li>
        <li><a href="javascript:;">咨询</a></li>
        <li><a href="javascript:;">服务</a></li>
    </ul>
</section>

<section class="try_content">
    <div class="serBody"> 
        <ul id="serlist" class="serlist"> 
            <li class="serli"> 
                <div class="serLeft"> 
                    <div class="serlIco">
                        <img src="__PUBLIC__/home/images/logo.png" width="103" alt="" title="" />
                    </div> 
                    <h2 class="serlTitle">护老到家</h2> 
                    <div class="er_code">
                       <div><img src="__PUBLIC__/home/images/qrcode.png" /></div>
                       <p>扫一扫 免费体验</p>
                    </div>
                </div>
                <div class="serRight"> 
                    <div class="serSum">
                    智能音频采集分析系统是京墨科技为东莞数理研究院开发的用于采集人的声音来分析身体健康情况的系统。通过声音的频谱来分析身体健康的变化，该项目包括手机终端、控制程序、后台分析平台。
                    </div> 
                    <div class="pic_box">
                        <ul>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                        </ul>
                    </div>
                </div>
                <a class="build" href="javascript:;">马上建站</a>
            </li> 
            <li class="serli"> 
                <div class="serLeft"> 
                    <div class="serlIco">
                        <img src="__PUBLIC__/home/images/logo.png" width="103" alt="" title="" />
                    </div> 
                    <h2 class="serlTitle">篮子艺化</h2> 
                    <div class="er_code">
                       <div><img src="__PUBLIC__/home/images/qrcode.png" /></div>
                       <p>扫一扫 免费体验</p>
                    </div>
                </div> 
                <div class="serRight"> 
                    <div class="serSum">
                    篮子艺画是京墨科技为广州市篮子文化传播有限公司开发的一款APP。篮子艺画是一款美术爱好者的社交产品，你可以和陌生人聊天，分享自己的作品以及生活，参与喜欢的线下活动（用户与用户自主组织的活动或者官方运营商组织的活动）。不必有面具和伪装，与有共同爱好的好友一起活动做更加轻松真实的自己。
                    </div> 
                    <div class="pic_box">
                        <ul>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                        </ul>
                    </div>
                </div>
                <a class="build" href="javascript:;">马上建站</a>
            </li> 
            <li class="serli"> 
                <div class="serLeft"> 
                    <div class="serlIco">
                        <img src="__PUBLIC__/home/images/logo.png" width="103" alt="" title="" />
                    </div> 
                    <h2 class="serlTitle">无限极</h2> 
                    <div class="er_code">
                       <div><img src="__PUBLIC__/home/images/qrcode.png" /></div>
                       <p>扫一扫 免费体验</p>
                    </div>
                </div> 
                <div class="serRight"> 
                    <div class="serSum">
                    无限极养生管理Apps是无限极（中国）有限公司为使用无限极公司的健康产品的用户设计的，业务员在推销健康产品的同时建议用户在智能手机、平板电脑或者普通PC上安装无限极养生管理Apps软件服务，通过互动提高用户的健康意识，以达到进一步提高健康产品的销售额的目标。
                    </div> 
                    <div class="pic_box">
                        <ul>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                            <li><div><img src="__PUBLIC__/home/images/yp_bg.png" /></div></li>
                        </ul>
                    </div>
                </div>
                <a class="build" href="javascript:;">马上建站</a>
            </li>
        </ul> 
    </div> 
</section>

<footer>
    <div class="wrap_box">
        <div class="content_box">
            <ul>
                <li class="li_left">
                    <h4>联系我们</h4>
                    <ol>
                        <li>合作咨询：13760845833</li>
                        <li>代理加盟：13760845833</li>
                        <li>商邮箱务：lyp@gemmap.cn</li>
                        <li>联系地址：海珠区滨江东路550号中大创新谷</li>
                    </ol>
                </li>
                <li class="li_center">
                    <h4>关注我们</h4>
                    <div class="code">
                        <div class="fl"><img src="__PUBLIC__/home/images/qrcode.png"alt="" /></div>
                        <div class="fr"><img src="__PUBLIC__/home/images/qrcode_tw.png"alt="" /></div>
                    </div>
                </li>
                <li class="li_right">
                    <h4>更多</h4>
                    <ol>
                        <li><a href="javascript:;">产品</a></li>
                        <li><a href="/index.php/Home/Trial/trialshow">试用</a></li>
                        <li><a href="/index.php/Home/Consulting/consultingshow">咨询</a></li>
                        <li><a href="/index.php/Home/Case/caseshow">案例</a></li>
                        <li><a href="/index.php/Home/Help/helpshow">帮助</a></li>
                    </ol>
                </li>
            </ul>
            <div class="end">广州京墨科技有限公司@2016丨苏icp备13020699号-7</div>
        </div>
    </div>
</footer>


<section class="alert_box">
    <div class="black"></div>
    <div class="price-box" id="price-box_2">
        <div class="ant-spin">
            <p>联系人姓名</p>
            <input type="text" name="1" value=""placeholder="请输入5-16位英文或者数字" />
        </div>
        <div class="ant-spin">
            <p>联系人手机号</p>
            <input type="text" name="1" value=""placeholder="请输入5-16位英文或者数字" />
        </div>
        <div class="ant-spin">
            <p>对标系统</p>
            <input type="text" name="1" value=""placeholder="请输入5-16位英文或者数字" />
        </div>
        <div class="ant-row">
            <p>费用预算</p>
                <select name="" id="" class="option">
                <option value="10万内">10万内</option>
                <option value="15万内">15万内</option>
                <option value="25万内">25万内</option>
                <option value="50万内">50万内</option>
                <option value="50万内以上">50万内以上</option>
            </select>
        </div>
        <span>我们的攻城狮将在3个工作日内联系您，请保持电话畅通，谢谢</span>
        <button>提交需求</button>
    </div>
</section>

 <section class="secondBanner">
    <div class="back_2"></div>
     <div class="infoBox">
         <div class="container">
             <div class="pa center"><a class="x" href="javascript:;"></a> </div>
             <h1>购买应用</h1>
         </div>
        <div class="secondInfo">
             <ul>
                 <li>
                    <span>站点名称：</span>
                    <input type="text" name="1" value="" placeholder="英文格式">
                 </li>
                 <li>
                     <span>购买格式：</span>
                     <div class="bannerBox">
                        <button>试用期7天</button>
                        <button>一年</button>
                     </div>
                 </li>
                 <li>
                     <span>有效期至：</span>
                     <p>2017-12-20</p>
                 </li>
                 <li>
                     <span>应付金额：</span>
                     <p class="bigTest">98元</p>
                 </li>
                 <li>
                     <span>支付扫码：</span>
                    <div class="young">
                        <div><img src="__PUBLIC__/home/images/qrcode.png"alt="" /></div>
                        <i>扫码支付完成 开始建站</i>
                    </div>
                 </li>
             </ul>
        </div>
     </div>
</section> 


<!-- 滚动条JS就放此处 -->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/nicescroll.js"></script>

</body>
</html>

<script type="text/javascript">
    // tab
    $(function(){
        $('.try_nav li').click(function(event) {
            $('.try_nav li').removeClass('current')
            $(this).addClass('current')
        });
       
    });
    
    // 123
    $(function(){
        $('.build').click(function(event){
            $('.infoBox').show();
            $('.back_2').show();
        });

        $('.x').click(function(event){
            $('.infoBox').hide();
            $('.back_2').hide();
        });
         $('.back_2').click(function(event){
            $('.infoBox').hide();
            $('.back_2').hide();
        });
    })
     
    // ---
     $(function(){
        $('.alert_btn').click(function(event) {
            $('.alert_box').addClass('on')
            $('.black').show()
            $('body').css('height','100%')
            $('body').css('overflow','hidden')
        });
        $('.black').click(function(event) {
            $('.alert_box').removeClass('on')
            $(this).hide()
            $('body').css('height','auto')
            $('body').css('overflow','auto')
        });
    })
</script>