<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-141 text-center">
					<img src="__PUBLIC__/home/img/logo.png" alt=""/>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="width-230 bg-red box-center">
						<div  class="text-center width-230 table-ver">
							<a href="{:U('Task/index')}"><img  src="__PUBLIC__/home/img/fast_commit.png" alt="" class="icon-35  margin-bottom-7 box-center"/></a>
							<a href="{:U('Task/index')}"  class="font-sixteen white-link display-block">快速提交</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-19">
					<div class="width-230 bg-red box-center">
						<div  class="text-center width-230 table-ver">
							<a href="{:U('User/index')}"><img  src="__PUBLIC__/home/img/center.png" alt="" class="icon-35  margin-bottom-7 box-center"/></a>
							<a href="{:U('User/index')}"  class="font-sixteen white-link display-block">个人中心</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-19 ">
					<div class="width-230 bg-red box-center">
						<div  class="text-center width-230 table-ver">
							<a href="{:U('Proman/index')}"><img  src="__PUBLIC__/home/img/team_products.png" alt="" class="icon-35  margin-bottom-7 box-center"/></a>
							<a href="{:U('Proman/index')}"  class="font-sixteen white-link display-block">产品经理</a>
						</div>
					</div>
				</div>
			</div>
		</div>
<include file="Public/footer" />