*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
/*div:active,div:hover,div:focus,div:visited,a:active,a:hover,a:focus,a:visited,span:active,span:hover,span:focus,span:visited,p:active,p:hover,p:focus,p:visited{
	background: none;
	border: none;
}*/
a{-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:link｛ border-style:none; ｝
html{
	background: #f3f4f8;
}
#show{
	display:none;	
}
.index_boy{
	position:absolute; 
	z-index:1;
	top:90px;
	left:0;
	height:92%;
	width:100%;
	background:#FFFFFF;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
}
#scroller ul {
	width:100%;
}
.pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;

	/*display: none;*/
}
.pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url("../img/index/pull-icon@2x.png") 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

.pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.pullUpLabel{
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	bottom: 0;
	/*padding-left: 43%;*/
	padding-bottom: 115px ;
	font-size: 24px;
}
.web{
	width: 100%;
	height: 100%;
	background: #f3f4f8;
}
.index_search{
	width: 100%;
	height: 110px;
	background: #f3f4f8;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	transform: translateY(-100%);
	transition: all 0.2s ease-in;
}
.index_search .index_searchB{
	width: 615px;
	height: 68px;
	line-height: 68px;
	font-size: 25px;
	color: #222222;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 19px;
}
.index_search .index_searchB i{
	padding: 0 19px;
}
.index_search .index_searchB form{
	display: inline-block;
}
.index_search .index_searchB input{
	width: 510px;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	color: #222222;
	background: #ffffff;
	border: none;
}
.index_search .index_searchB span{
	line-height: 68px;
	font-size: 32px;
	color: #000000;
	margin-left: 10px;
	position: absolute;
	right: 30px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.index_zhe{
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	opacity: .8;
	display: none;
}
.index_xuanxiang{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	transform: translateY(-100%);
	transition: all .5s ease-in;
}
.xuanxiang_head{
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 24px;
	color: #666666;
	padding-left: 20px;
	border-bottom: 1px solid #eeeeee;
	background: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 3;
}
#wrapper_xuan{
	width: 100%;
	height: 87%;
	position: absolute;
	top: 70px;
}
.xuanxiang_ul{
	width: 100%;
	height: 100%;
}
.xuanxiang_ul li{
	width: 100%;
	height: 97px;
	line-height: 97px;
	font-size: 28px;
	color: #666666;
	text-indent: 20px;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.xuanxiang_ul li img{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.index_keep{
	width: 100%;
	height: 8%;
	line-height: 100px;
	background: #ff7800;
	text-align: center;
	font-size: 32px;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 4;
}
.index_head{
	width: 100%;
	height: 90px;
	background: #FFFFFF;
	border-bottom: 1px solid #E4E4E4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	transition: all 0.2s ease-in;
}
.swiper-container {
    width: 587px;
    height: 90px;
    margin-left: 30px;
}
.swiper-slide{
	height: 60px;
    text-align: center;
    font-size: 26px;
    color: #999999;
    padding-top: 15px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .swiper-wrapper .index_head_active{
	background: url(../img/index/head_bottom_03.jpg) bottom no-repeat;
	color: #222222;
}
.swiper-slide:active{
	background: url(../img/index/head_bottom_03.jpg) bottom no-repeat;
	color: #222222;
}
.index_body_head{
	width: 100%;
	height: 70px;
}
.index_body_foot{
	width: 100%;
	height: 160px;
	background: #FFFFFF;
}
.index_boy{
	display: none;
}
.index_boy_active{
	display: block;
}
.index_section{
	width: 100%;
	height: 300px;
	background: #FFFFFF;
	position: relative;
}
.index_section img{
	width: 200px;
	height: 150px;
	position: absolute;
	top: 45px;
	left: 20px;
}
.index_section .index_biaoti{
	position: absolute;
	top: 45px;
	left: 260px;
	font-weight: bold;
	font-size: 32px;
	color: #333333;
}
.index_section .index_wen{
	width: 456px;
	line-height: 36px;
	position: absolute;
	top: 103px;
	left: 260px;
	font-size: 24px;
	color: #666666;
}
.index_sectionB{
	width: 710px;
	height: 64px;
	border-bottom: 1px solid #EEEEEE;
	position: absolute;
	left: 20px;
	bottom: 15px;
}
.index_sectionB p{
	color: #666666;
	font-size: 20px;
	line-height: 64px;
}
.index_sectionB1{
	float: left;
}
.index_sectionB2{
	float: right;
}
.index_sectionB3{
	float: right;
}
.index_sectionB4{
	float: right;
	margin-left: 20px;
}
.index_sectionB5{
	float: right;
}

.index_foot{
	width: 100%;
	height: 100px;
	background: rgba(255,255,255,.1);
	position: fixed;
	left: 0;
	bottom: 0;
	border-top: 1px solid #E4E4E4;
	z-index: 2;
}
.blur{
	width: 100%;
	height: 100px;
	position: fixed;
	background: url(../img/index/foot_bg2.png) repeat;
	left: 0;
	bottom: 0;
	z-index: 2;
	-webkit-filter: blur(1px);
	-ms-filter: blur(1px);   
	filter: blur(1px);
	opacity: .95;

}

.index_foot .foot_but{
	display: inline-block;
	width: 240px;
	height: 100px;
	font-size: 50px;
	position: relative;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.index_foot .foot_but span{
	height: 50px;
	width: 40px;
	position: absolute;
	top: 12px;
	left: 110px;
}
.index_foot .foot_but p{
	font-size: 22px;
	color: #999999;
	position: absolute;
	left: 110px;
	bottom: 8px;
}
.index_send{
	width: 120px;
	height: 120px;
	background: #FF7800;
	border-radius: 50%;
	position: fixed;
	right: 30px;
	bottom: 150px;
	box-shadow: 2px 2px 10px #999999;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.index_send p{
	color: #FFFFFF;
	font-size: 24px;
	width: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.chevron-down{
	font-size: 26px;
	position: absolute;
	top: 35px;
	right: 88px;
	color: #999999;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.search{
	font-size: 28px;
	position: absolute;
	top: 35px;
	right: 30px;
	color: #999999;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.personal_web{
	width: 100%;
	height: 100%;
	background: #f3f4f8;
	position: fixed;
}
.personal_head{
	width: 100%;
	height: 250px;
	background: #FFFFFF;
	position: relative;
	font-size: 28px;
	color: #dddddd;
}
.personal_head .personal_head_tou{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 60px;
	overflow: hidden;
}
.personal_head .personal_head_tou img{
	width: 130px;
	height: 130px;
}
.personal_head .personal_head_name{
	font-size: 28px;
	color: #000000;
	position: absolute;
	left: 190px;
	top: 83px;
}
.personal_head .personal_head_zhang{
	font-size: 28px;
	color: #000000;
	position: absolute;
	left: 190px;
	top: 140px;
}
.personal_head .personal_head_hao{
	font-size: 28px;
	color: #FF7800;
	position: absolute;
	left: 274px;
	top: 142px;
}

.fa-chevron-right{
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.personal_section{
	width: 100%;
	height: 86px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	margin-top: 20px;
	position: relative;
	font-size: 28px;
	color: #dddddd;
}
.personal_section2{
	margin: 0;
	border: none;
}
.personal_section p{
	line-height: 86px;
	font-size: 28px;
	color: #000000;
	padding-left: 30px;
}
.detaile_head{
	width: 100%;
	height: 69px;
	background: #FFFFFF;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.detaile_head p{
	font-size: 22px;
	color: #666666;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.detaile_head .detaile_head1{
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	border: 2px solid #999999;
	border-radius: 5px;
	top: 50%;
	left: 22px;
	transform: translateY(-50%);
}
.detaile_head .detaile_head2{
	left: 150px;
}
.detaile_head .detaile_head3{
	left: 238px;
}
.detaile_head .detaile_head4{
	right: 21px;
}
.detaile_head .detaile_head4 i{
	margin-right: 15px;
}
.detaile_body{
	background: #FFFFFF;
	padding: 20px 20px;
}
.detaile_body img{
	width: 100%;
	height: 100%;
}
.detaile_body p{
	font-size: 28px;
	color: #333333;
	letter-spacing: 2px;
	line-height: 50px;
	padding-top: 30px;
}
.detaile_body h2{
	font-size: 36px;
	color: #222222;
	padding-top: 10px;
	padding-bottom: 10px;
}
.detaile_body2{
	width: 100%;
	background: #FFFFFF;
	margin-top: 20px;
}
.detaile_body2 .body2_1{
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}
.detaile_body2 .body2_1 span{
	line-height: 80px;
	font-size: 28px;
	color: #666666;
	padding-left: 20px;
}
.detaile_body2 .body2_1 .body2_2{
	padding-left: 0;
}
.detaile_footK{
	background: #f3f4f8;
	height: 100px;
	width: 100%;
	position: relative;
	top: 40px;
}
.detaile_foot{
	background: rgba(255,255,255,.1);
	height: 99px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
    border-top: 1px solid #E4E4E4;
    z-index: 3;
}
.detaile_foot span{
	display: inline-block;
    height: 100px;
    margin: 0 30px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.detaile_foot span img{
	margin-top: 25px;
}
.detaile_foot .detaile_foot4{
	display: inline-block;
	width: 420px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 32px;
	color: #FFFFFF;
	background: #ff7800;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	right: 20px;
}
.detaile_share{
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	opacity: .8;
	display: none;
	z-index: 4;
}
.detaile_share img{
	position: absolute;
	top: 40px;
	right: 30px;
}
.supply_web{
	height: 100%;
	width: 100%;
	background: #f3f4f8;
	position: absolute;
}
.supply_head p{
	font-size: 28px;
	color: #000000;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.supply_body input{
	width: 100%;
	height: 78px;
	line-height: 32px;
	font-size: 28px;
	color: #222222;
	border: 1px solid #cccccc;
	/* text-indent: 1em; */
	padding:0 25px;
	margin-top: 40px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.supply_body button{
	width: 38%;
	height: 78px;
	line-height: 78px;
	font-size: 28px;
	color: #FFFFFF;
	background: #ff7800;
	border-radius: 10px;
	border: none;
}
#supply_yanzheng{
	width: 60%;
}
.supply_body textarea{
	width: 100%;
	height: 238px;
	line-height: 42px;
	font-size: 28px;
	color: #222222;
	border: 1px solid #cccccc;
	margin-top: 40px;
	padding: 20px 25px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.get_success{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 300px;
	background: rgba(0,0,0,.5);
	border-radius:30px ;
	display: none;
}
.get_success img{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 70px;
}
.zhuan{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	animation: all 1s linear infinite;
	-webkit-animation: all 1s linear infinite;
}
.get_success p{
	text-align: center;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
	color: #FFFFFF;
	font-size: 30px;
}
.supply_foot{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 32px;
	color: #ffffff;
	background: #ff7800;
	position: fixed;
	left: 0;
	bottom: 0;
}
.search_web{
	height: 100%;
	width: 100%;
	background: #f3f4f8;
	position: absolute;
}
.search_head{
	width: 100%;
	height: 109px;
	background: #FFFFFF;
	border-bottom: 1px solid #eeeeee;
	position: relative;
	z-index: 2;
}
.search_kuang{
	width: 708px;
	height: 68px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.search_kuang form{
	display: inline-block;
}
.search_kuang img{
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
.search_kuang input{
	height: 40px;
	width: 600px;
	line-height: 30px;
	font-size: 25px;
	color: #222222;
	border: none;
	position: absolute;
	left: 66px;
}
.search_body_foot{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #FFFFFF;
	font-size: 24px;
	color: #666666;
	display: none;
}
.search_pullUpLabel{
	padding-bottom: 45px;
}
.search_body{
	width: 100%;
	height: 90%;
	position: relative;
}
.search_body img{
	position: relative;
	top: 95px;
	left: 50%;
	transform: translateX(-50%);
}
.search_body p{
	width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	line-height: 52px;
	color: #666666;
	font-size: 26px;
}
.search_body a{
	font-size: 26px;
	color: #0d7fdf;
	text-decoration: underline;
}
.search_body span{
	width: 500px;
	color: #666666;
	font-size: 26px;
}
.search_body_wen{
	top: 150px;
}
.search_body_wen2{
	top: 155px;
}
.search_body_wen3{
	top: 145px;
}
.logo_web{
	height: 100%;
	width: 100%;
	background: #f3f4f8;
	position: absolute;
}
.logo_body{
	width: 100%;
	background: #FFFFFF;
	margin-top: 20px;
	padding: 40px 0px;
}
.logo_body img{
	float: left;
	padding-left: 44px;
	padding-top: 29px;
}
.logo_body h2{
	color: #222222;
	font-size: 30px;
	margin-left: 130px;
	padding-top: 28px;
}
.logo_body p{
	color: #666666;
	font-size: 24px;
}
.logo_body_wen{
	margin-left: 130px;
	padding-top: 10px;
}
.logo_body_wen2{
	line-height: 42px;
	width: 675px;
	margin-left: 44px;
	margin-top: 30px;
	padding-bottom: 30px;
}
.connect_body{
	height: 88px;
	width: 99%;
	border: 1px solid #eeeeee;
	background: #FFFFFF;
}
.connect_body1{
	margin-top: 30px;
	border-bottom: none;
	position: relative;
}
.connect_body3{
	margin-top: 40px;
}
.connect_body span{
	font-size: 28px;
	color: #999999;
	line-height: 88px;
	padding-left: 20px;
}
.connect_body input{
	width: 400px;
	height: 80px;
	line-height: 40px;
	font-size: 28px;
	color: #666666;
	padding-left: 40px;
    border: none;
}
.pa1 input{
	padding-left: 72px;
}
.pa2 input{
	padding-left: 43px;
}
.pa0 input{
	padding-left: 0px;
}
.boT{
	border-top: none;
}
.connect_body button{
	width: 178px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	border: 1px solid #cccccc;
	font-size: 26px;
	color: #666666;
	position: absolute;
	right: 20px;
	top: 15px;
	background: #FFFFFF;
}
.user_wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
}
.user_section{
	width: 100%;
	background: #ffffff;
	margin-top: 20px;
	padding-bottom: 40px;
}
.user_section h2{
	font-size: 28px;
	color: #222222;
	padding-top: 24px;
	padding-left: 20px;
}
.user_touxiang{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 20px;
}
.user_touxiang img{
	width: 100px;
	height: 100px;
}
.user_tou{
	display: inline-block;
	width: 590px;
	padding-bottom: 10px;
}
.user_time{
	display: inline-block;
	font-size: 20px;
	color: #999999;
	margin-top: 30px;
	margin-left: 20px;
}
.user_jieguo{
	display: inline-block;
	float: right;
	font-size: 20px;
	color: #009944;
	margin-top: 30px;
}
.user_dai{
	color: #ff7800;
}
.user_wen{
	width: 590px;
	line-height: 36px;
	font-size: 24px;
	color: #666666;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	word-break: break-all;
}
.uesr_pullUpLabel{
	padding-bottom: 10px;
}
.user_goutong{
	width: 710px;;
	border-top: 1px solid #eeeeee;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}
.user_huifu{
	display: block;
	font-size: 24px;
	color: #222222;
	padding-top: 30px;
	padding-left: 120px;
}
.user_huifu2{
	width: 540px;
	line-height: 36px;
	background: #f3f4f8;
	font-size: 24px;
	color: #222222;
	padding: 20px;
	margin-top: 20px;
	margin-left: 120px;
	word-break: break-all;
}
.uesr_back2{
	width: 100%;
	height: 59px;
	background: #f3f4f8;
}
.uesr_back{
	display: block;
	width: 100%;
	height: 59px;
	line-height: 59px;
	text-align: center;
	background: #f3f4f8;
	font-size: 20px;
	color: #666666;
	display: none;
}
.uesr_null{
	width: 100%;
	height: 100%;
	position: absolute;
}
.uesr_nulli{
	width: 100%;
	text-align: center;
	padding-top: 250px;
}
.uesr_null1{
	width: 100%;
	text-align: center;
	font-size: 28px;
	padding-top: 50px;
	color: #666666;
}
.uesr_null2{
	width: 100%;
	text-align: center;
	font-size: 26px;
	padding-top: 30px;
}
