<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>庖丁技术</title>
    <meta name="description"
          content="庖丁科技众包服务平台携手国内外先进技术科研院所、顶级技术专家，以实现科技成果市场化为核心，为企业提供快速精准的需求匹配服务，从而实现企业以及科技资源的有效对接，帮助企业实现产业技术升级，助力先进技术完成产业化发展。"/>
    <meta name="keywords" content="庖丁众包、智能技术、机械制造、健康医疗、材料科学、能源环保、生产流程优化"/>
    <link rel="shortcut icon" href="{$Think.INDEX}/images/favicon.ico">
    <link rel="preload" href="{$Think.INDEX}/css/index.css" as="style">
    <link rel="stylesheet" href="{$Think.INDEX}/css/common_new.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/index.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/page.css">
</head>
<style>
    .demand_part2 {
        width: 590px;
        height: 196px;
        padding: 20px;
        position: relative;
        border: 1px solid #ccc;
        margin-left: 20px;
        margin-bottom: 20px;
        transition: all 0.3s;
    }
    [v-cloak] {
        display: none;
    }
</style>
<body>
<!-- 导航开始 -->
<include file="./Template/5u/index/public/nav.html"/>
<!-- 导航结束 -->

<div class="ad"></div>

<section id="template">
    <div class="section" style="margin-top:0">
        <div class="sub_class clear">
            <p class="sub_p fl">技术类型：</p>
            <ul class="sub_list fr">
                <li class="subnav_selected" @click="getfield(0)">全部</li>
                <li v-for="tag in tagData" v-text="tag.tag_name" v-bind:id="tag.id" @click="getDataByTag(tag.id)"></li>
            </ul>
        </div>
        <div class="sub_class clear" style="border-top:none;">
            <p class="sub_p fl" style="border-bottom:none;">技术领域：</p>
            <ul class="sub_list fr">
                <li class="subnav_selected" @click="getJump(0)">全部</li>
                <li v-for="category in categoryData" v-text="category.cat_name" v-bind:id="category.id" @click="getDataByCategory(category.id)"></li>
            </ul>
        </div>
        <div class="sub_bot clear">
            <p class="sub_b_p fl">快速匹配需求</p>
            <p class="fr publish_dem">发布技术</p>
        </div>
    </div>

    <!-- 需求列表 -->
    <div class="section" v-cloak>
        <div class="demand_wrap2 clear" style="margin-left:-20px;">
            <a v-bind:href="['__CONTROLLER__/demand_detail?data_id='+list.id]" v-for="list in listData" target="_block">
                <div class="demand_part2 shadow fl">
                    <p class="demand_status2">{{ list.hzxs }}</p>
                    <p class="demand_time2">{{ list.create_time }}</p>
                    <p class="demand_title2 oneline">{{ list.title }}</p>
                    <p class="demand_ct2 twoline">{{ list.desc }}</p>
                    <div class="demand_bottom2 clear">
                        <p class="fl no_margin2">
                            <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                            <span>{{ list.cat_name }}</span>
                        </p>
                        <p class="fl">
                            <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                            <span>{{ list.yfys }}</span>
                        </p>
                        <p class="fl">
                            <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                            <span>{{ list.yfzq }}</span>
                        </p>
                        <p class="fl">
                            <img src="{$Think.INDEX}/images/demand-icon-browse.png" alt="">
                            <span>{{ list.clicks }}</span>
                        </p>
                        <p class="fr">
                            查看详情&nbsp;＞
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="page" v-cloak>
        <div class="activity_listpage">
            <div>
                <a class="first" @click="go_page(1)" v-if="show_first">1...</a>
                <a class="prev" @click="go_page(page-1)" v-if="show_prex">&lt;&lt;</a>
                <a v-for="index in pages" @click="go_page(index)" v-bind:class="{current: index==page}">{{index}}</a>
                <a class="next" @click="go_page(page+1)" v-if="show_next">&gt;&gt;</a>
                <a class="end" @click="go_page(page_total)" v-if="show_end">{{page_total}}</a>
            </div>
        </div>
    </div>
</section>

<include file="./Template/5u/index/public/footer.html"/>
</body>
<script src="{$Think.INDEX}/js/jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX}/js/common.js"></script>
<script src="__PUBLIC__/js/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#template',
        data: {
            themeData: '',
            listData: '', //列表数据
            categoryData: '',
            dataData: '',
            tagData: '',
            ztData: '',
            configData: '',
            countData: '',
            page: 1,
            page_total: 0,
            show_first: false,
            show_end: false,
            show_prex: false,
            show_next: false,
            show_item: 5,
            bool: 'true',
            category_id: 0,
            tag_id:0,
            click_category_id: 0,
            click_tag_id: 0,
        },
        computed: {
            pages: function () {
                var pag = [];
                if (this.page < this.show_item) {
                    //如果当前的激活的项 小于要显示的条数
                    //总页数和要显示的条数那个大就显示多少条
                    var i = Math.min(this.show_item, this.page_total);
                    while (i) {
                        pag.unshift(i--);
                    }
                } else { //当前页数大于显示页数了
                    var middle = this.page - Math.floor(this.show_item / 2),//从哪里开始
                        i = this.show_item;
                    if (middle > (this.page_total - this.show_item)) {
                        middle = (this.page_total - this.show_item) + 1
                    }
                    while (i--) {
                        pag.push(middle++);
                    }
                }
                return pag;
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.getData();
                this.getCategoryData();
                this.getTagData();
                this.getNew();
            })
        },
        updated: function () {
        },
        filters: {},
        methods: {
            getNew: function () {
                var _this = this;
                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/1";
                var data = {
                    "page": 1,
                    "page_num": 10,
                    "order_field": "create_time",
                    "category_id": vm.category_id,
                    "tag_id": vm.tag_id,
                    "order_by": "DESC"
                };
                $.post(url, data, function (res) {
                    _this.listData = res.data;
                }, 'json');
            },
            getJump: function (id) {
                var _this = this;
                vm.click_category_id = id;
                vm.click_tag_id = id;
                this.search(id, vm.tag_id);
                var data = {
                    "page": 1,
                    "page_num": 10,
                    "category_id": id,
                    "tag_id": id,
                    "order_field": "create_time",
                    "order_by": "DESC"
                };
                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/1";
                $.post(url, data, function (res) {
                    _this.listData = res.data;
                })
            },
            getfield: function (id) {
                var _this = this;
                vm.click_category_id = id;
                vm.click_tag_id = id;
                this.search(vm.category_id, id);
                var data = {
                    "page": 1,
                    "page_num": 10,
                    "tag_id": id,
                    "category_id": id,
                    "order_field": "create_time",
                    "order_by": "DESC"
                };
                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/1";
                $.post(url, data, function (res) {
                    _this.listData = res.data;
                })
            },
            getData: function () {
                vm.page = 1;
                vm.page_total = 0;
                this.search(0, 0);
            },
            getTagData: function () {
                var _this = this;
                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/4";
                $.get(url, function (res) {
                    _this.tagData = res.data;
                })
            },
            getCategoryData: function () {
                var _this = this;
                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/2";
                $.get(url, function (res) {
                    _this.categoryData = res.data;
                })
            },
            getDetail: function (id) {
                window.location.href = "__CONTROLLER__/demand_detail?data_id=" + id;
            },
            getZtDetail: function (id) {
                window.location.href = "__MODULE__/Article/top/channel/top/type/1/data_id/" + id;
            },
            showDetail: function (url) {
                window.location.href = url;
            },
            getDataByCategory: function (category_id) {
                vm.page = 1;
                vm.page_total = 0;
                vm.category_id = category_id;
                this.search(category_id, 0);
                $('#category_list a').removeClass('science_tabLi_a_active');
                $('#' + category_id + 'ca').addClass('science_tabLi_a_active');
            },
            getDataByTag: function (tag_id) {
                vm.page = 1;
                vm.page_total = 0;
                vm.tag_id = tag_id;
                this.search(0, tag_id);
                $("#tag_list a").removeClass('science_tabLi_a_active');
                $('#' + tag_id + 'ta').addClass('science_tabLi_a_active');
            },
            search: function (category_id, tag_id) {
                var categoryId = 0;
                var tagId = 0;
                if (category_id == 0) {
                    categoryId = vm.click_category_id;
                    vm.click_tag_id = tag_id;
                    tagId = tag_id;
                } else if (tag_id == 0) {
                    tagId = vm.click_tag_id;
                    vm.click_category_id = category_id;
                    categoryId = category_id;
                }

                var url = "/api.php/ChannelIndex/index/action/dataList/channel/xq/type/1";
                if (category_id > -1) {
                    vm.category_id = category_id;
                    url += "/category_id/" + vm.click_category_id + "/tag_id/" + vm.click_tag_id;
                }
                var _this = this;
                var data = {
                    "order_field": "create_time",
                    "order_by": "DESC",
                    "get_page": true,
                    "page": vm.page,
                    "page_num": 10
                };
                $.post(url, data, function (res) {
                    _this.listData = res.data.info;
                    var page = res.data.page;
                    vm.page = parseInt(page.page);
                    vm.page_total = parseInt(page.page_total);
                    vm.show_first = (vm.page - 1 > 1);
                    vm.show_prex = (vm.page - 1 > 0);
                    vm.show_next = (vm.page_total - vm.page > 0);
                    vm.show_end = (vm.page_total - vm.page > 1);
                })
            },
            go_page: function (page) {
                if (page == vm.page) {
                    return;
                }
                vm.page = parseInt(page);
                this.search(vm.click_category_id, vm.click_tag_id);
                window.scrollTo(0, document.body.scrollHeight);
                window.scrollTo(0, 0);
            }
        }
    });

    $(".sub_class").on("click",".sub_list li",function(){
        $(this).addClass('subnav_selected').siblings('.sub_list li').removeClass('subnav_selected');
    });
</script>
</html>