/*reset*/
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol , input, textarea, th, td, select, form,span,p{margin:0; padding:0;}
em{font-size: normal;}
li{list-style:none;}
/*去除点击高亮*/
a{text-decoration: none;-webkit-tap-highlight-color: transparent;}
/*a标签点击样式*/
a:hover,a:active,a:visited,a:link{-webkit-tap-highlight-color: transparent;}
img{vertical-align: top;}
textarea{resize:none;overflow: auto;}
body{font-family:"微软雅黑",Helvetica;}
html{-webkit-text-size-adjust:none;}
input:focus{border:none;outline:none}
div,a{-webkit-box-sizing: border-box; box-sizing: border-box;}
input,textarea{border:none;font-size:28px;font-family:"微软雅黑",Helvetica;color:#333;padding-left: 30px;-webkit-box-sizing: border-box; box-sizing: border-box;}
::-webkit-input-placeholder {font-size: 28px; color:#ccc;font-family:"微软雅黑",Helvetica;}
input[type=button]{	-webkit-appearance:none;-moz-appearance:none;outline:none;}
[ng-cloak]{display:none !important;}

/*public*/
.fl{float: left;}
.fr{float: right;}
.clear{zoom:1;}/*IE*/
.clear:after{content: "";display: block;clear: both;}
body{width: 750px;margin: 0 auto; padding-bottom: 100px;}
.banner{width: 750px;margin: 0 auto;}
.banner img{width: 100%;}
.collect{
	position: absolute;
	right: 0;
	top: -1px;
	width: 368px;
	height: 100px;
	background: #000;
	font-size: 32px;
	color: #fff;
	text-align: center;
	line-height: 96px;
}
/*nav*/
.nav{
	width: 750px;
	height: 100px;
	border-top: 1px solid #e8e8e8;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -375px;
	z-index: 999;
	background-color: #fff;
}
.nav_option{
	float: left;
	padding-top: 14px;
	width: 187px;
	text-align: center;
	color: #666;
	font-size: 22px;
}

.icon_tabbar{
	width: 40px;
	height: 40px;
	margin:0 auto 8px;
	background:url(../images/icon-tabbar.png) no-repeat;
}
.icon-tabbar-technology-selected{background-position:0 0;}
.icon-tabbar-technology-default{background-position:-41px 0;}
.icon-tabbar-demand-selected{background-position:-84px 0;}
.icon-tabbar-demand-default{background-position:-124px 0;}
.icon-tabbar-activity-selected{background-position:-168px 0;}
.icon-tabbar-activity-default{background-position:-209px 0;}
.icon-tabbar-my-selected{background-position:-251px 0;}
.icon-tabbar-my-default{background-position:-293px 0;}

/*返回上一级按钮*/
.sec_return {
	width: 750px;
	height: 99px;
	border-top: 1px solid #ccc;
	position: fixed;
	left: 50%;
	margin-left: -375px;
	bottom: 0;
	z-index: 99;
	background-color: #fff;
}
.return_icon{
	margin: 24px 0 0 30px;
}
/*遮挡层*/
.mask{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.index_div {
	width: 750px;
	margin: 0 auto;
	height: 20px;
	background: #f0f0f0;
}

/*反馈提示框*/
.tipCommon{
	width: 466px;
	height: 60px;
	font-size: 28px;
	position: fixed;
	border-radius: 4px;
	background: #000;
	color: #fff;
	line-height: 60px;
	text-align: center;
	top: 36%;
	left: 50%;
	z-index: 9999;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: none;
}
