<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>{$gemmap_config['shop_info_store_title']}</title>
    <meta name="keywords" content="{$gemmap_config['shop_info_store_keyword']}"/>
    <meta name="description" content="{$gemmap_config['shop_info_store_desc']}"/>

    <!--dynamic table-->
    <link href="__PUBLIC__/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="{$Think.const.JS}/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="{$Think.const.JS}/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$Think.const.JS}/data-tables/DT_bootstrap.css"/>

    <link href="{$Think.const.CSS}/style.css" rel="stylesheet">
    <link href="{$Think.const.CSS}/style-responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css.map" rel="stylesheet" type="text/css">

    <script src="{$Think.const.JS}/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<style type="text/css">
    body {
        background: #f1f1f1;
        overflow: scroll
    }

    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
    }

    .thumbnail img {
        width: 460px;
        height: 270px;
    }

    .caption {
        padding: 9px;
        color: #333;
    }

    .caption h2 {
        font-size: 24px;
        line-height: 18px;
        font-weight: 700;
    }

    .panel {
        border: 1px solid #ddd;
    }
</style>

<body class="sticky-header">

<section>

    <!-- main content start-->
    <div class="main-content" width="100%" style="margin:0px;">


        <!--body wrapper start-->
        <div class="wrapper">
            <!-- <include file="Public/breadcrumb"/> -->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading panel-body">
                            <if condition="$t eq 1">手机端模板
                                <else/>
                                PC端模板
                            </if>
                            <div class="pull-right" style="vertical-align: middle"><strong style="font-size: 20px">选择分类:</strong>
                                <select style="width: 200px;height:33px;border-radius:5px" name="cat_id" id="cat_id">
                                    <option value="0">所有分类</option>
                                    <volist name="tmplCatInfo" id="item">
                                        <option value="{$item.cat_id}"
                                        <if condition="$item.cat_id eq $cat_id ">selected</if>
                                        >{$item.cat_name}</option>
                                    </volist>
                                </select>&nbsp;
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">

                                <volist name="list" id="vo">
                                    <div class="row col-lg-4 col-xs-6 col-md-4 col-sm-6"
                                         style="margin-left:10px;margin-top: 10px;">
                                        <section class="thumbnail">
                                            <img src="{$vo.image}" height="98" width="253"/>
                                            <div class="caption">
                                                <h2>{$vo.title}</h2>
                                                <p>{$vo.remarks}</p>
                                            </div>
                                            <button type="submit"
                                            <if condition="$vo.tmpl_dir eq $default"> class="btn btn-success"
                                                <else/>
                                                class="btn btn-default"
                                            </if>
                                            data="{$vo.id}" onclick="selectedTp(this);">选中</button>
                                        </section>
                                    </div>
                                </volist>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- main content end-->
</section>

<!--dynamic table-->
<script type="text/javascript" language="javascript"
        src="{$Think.const.JS}/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{$Think.const.JS}/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="{$Think.const.JS}/dynamic_table_init.js"></script>

<script src="{$Think.const.JS}/bootstrap.min.js"></script>

<!--script for editable table-->
<script src="{$Think.const.JS}/editable-table.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$Think.const.JS}/jquery-1.10.2.min.js"></script>
<script src="{$Think.const.JS}/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{$Think.const.JS}/jquery-migrate-1.2.1.min.js"></script>
<script src="{$Think.const.JS}/bootstrap.min.js"></script>
<script src="{$Think.const.JS}/modernizr.min.js"></script>
<script src="{$Think.const.JS}/jquery.nicescroll.js"></script>
<script src="__PUBLIC__/js/layer/layer-min.js"></script>
<!--common scripts for all pages-->
<script src="{$Think.const.JS}/scripts.js"></script>

</body>
</html>
<script>

    function selectedTp(obj) {

        if ($(obj).hasClass('btn-success')) {
            layer.msg('当前模板已经选中', {time: 3000});
            return;
        }

        layer.confirm('确认切换模板?', {
            skin: 'layui-layer-molv',
            btn: ['确定', '取消'] //按钮
        }, function () {

            var id = $(obj).attr('data');
            var site = "{$site}";
            var url = "__URL__/changeTemplate/tid/" + id;

            layer.load();
            $.post(url,
                    {'site': site},
                    function (ret) {
                        layer.closeAll('loading');

                        if (ret.result == 1) {
                            $(".btn").removeClass('btn-success');
                            $(".btn").addClass('btn-default');

                            $(obj).removeClass('btn-default');
                            $(obj).addClass('btn-success');
                        }

                        layer.msg(ret.msg, {time: 3000});

                    },
                    'json');


        });


    }
    $("#cat_id").bind('change', function () {
        var cat_id = $(this).val();
        window.location.href = "__MODULE__/Site/siteMobileTemplateList/cat_id/" + cat_id;
    });

</script>