<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="#" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 text-center">
					<span class="height-66"><b>修改手机号码</b></span>
				</div>
				<div class="col-xs-12 col-sm-12">
					<form class="box-center box-272">
						<div class="form-group input-position border-bottom-none">
							<label class="lable-absolute2">手机号码</label>
							<input type="text" class="form-control" id="tel" placeholder="">
						</div>
						<div class="form-group input-position border-bottom-none">
							<label class="lable-absolute2">新手机号码</label>
							<input type="text" class="form-control" id="tel" placeholder="">
						</div>
						<div class="form-group input-position">
							<label class="lable-absolute2">验证码</label>
							<a href="#" type="button" class="pull-right btn-red2 white-link" >获取验证码</a>
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-30 text-center">
					<a href="#" type="button" class="btn btn-red white-link">提交</a>
					<p class="margin-top-20 red">新手机绑定成功！</p>
				</div>
			</div>
		</div>
<include file="Public/footer" />