<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="{:U('Index/index')}" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				
				<div class="col-xs-12 col-sm-12 padding-0">
					<ul class="nav nav-tabs tabs-list white-bg">
						<li class="active"><a href="#unfished" data-toggle="tab">未完成订单</a></li>
						<li><a href="#fished" data-toggle="tab">已完成订单</a></li>
						<li><a href="#editor" data-toggle="tab">编辑个人资料</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane row fade in active" id="unfished">
							<volist name="unfished" id="vo">
							<div class="col-xs-12 col-sm-12 margin-top-20">
								<div class="box-289 box-center gray">
									<div class="float-left ">
										<p>2015.09.22</p>
										<span style="white-space:break-word">{$vo.message}</span>
									</div>
									<div class="pull-right">
										<a href="#"><img src="__PUBLIC__/home/img/manager.jpg" alt="" class="head-portrait"/></a>
										<a href="#" class=" gray-link margin-top-11 display-block">产品经理</a>
									</div>
								</div>
							</div>
							</volist>
						</div>
						<div class="tab-pane row fade" id="fished">
							<div class="col-xs-12 col-sm-12 margin-top-20">
								<div class="box-289 box-center gray">
									<div class="float-left">
										<p>2015.09.22</p>
										<span style="white-space:break-word">一句话描述</span>
									</div>
									<div class="pull-right">
										<a href="#"><img src="__PUBLIC__/home/img/manager.jpg" alt="" class="head-portrait"/></a>
										<a href="#" class=" gray-link margin-top-11 display-block">产品经理</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 margin-top-20">
								<div class="box-289 box-center gray">
									<div class="float-left">
										<p>2015.09.22</p>
										<span style="white-space:break-word">一句话描述</span>
									</div>
									<div class="pull-right">
										<a href="#"><img src="__PUBLIC__/home/img/manager.jpg" alt="" class="head-portrait"/></a>
										<a href="#" class=" gray-link margin-top-11 display-block">产品经理</a>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="editor">
							<div  class="col-xs-12 col-sm-12 margin-top-42">
								<div class="box-158 box-center text-center">
									<a href="{:U('User/modify_phone')}" class="white-link">修改手机号码</a>
								</div>
							</div>
							<div  class="col-xs-12 col-sm-12 margin-top-20">
								<div class="box-158 box-center text-center">
									<a href="{:U('User/modify_password')}" class="white-link">修改密码</a>
								</div>
							</div>	
													
						</div><!---->
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12  text-center">
								<a href="#" type="button" class="btn btn-return white-link text-center margin-top-42 margin-bottom-30">返回</a>
				</div>	
			</div>
		</div>
<include file="Public/footer" />