<include file="Public/header" />
		<div class="container">
			<div class="row">
					<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="{:U('Index/index')}" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 text-center">
					<div class="width-244  box-center text-center">
						<img src="__PUBLIC__/home/img/icon-finshed.png" alt="" class="icon-60"/>
					</div>
					<div class="box-finshed text-center gray size-30 box-center">
						完成订单
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 text-center">
					<a href="#" type="button" class="btn btn-return white-link text-center  margin-top-65">返回</a>
				</div>
			</div>
		</div>
<include file="Public/footer" />