<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo.png" alt="" class="width-112"/>
					<a href="#" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 ">
					<div class="box-center box-content margin-top-36">
						预约单						
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 margin-top-37 text-center">
					<a href="{:U('Task/faTask')}" type="button" class="btn btn-next white-link text-center">预约</a>
				</div>
			</div>
		</div>
<include file="Public/footer" />