<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="{:U('Index/index')}" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-30">
					<p class="text-center font-lg2"><b>评价</b></p>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-30 text-center">
					<img src="__PUBLIC__/home/img/person.jpg"  alt="" class="head-portrait" />
					<p class="padding-top-10 gray">工号  {$proman_id}</p>
				</div>
				<div class="col-xs-12 col-sm-12 text-center margin-top-42">
					<span class="size-30">满意</span>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-42 text-center">
					<a href="__MODULE__/Proman/download/apply_id/{$apply_id}" type="button" class="btn btn-red white-link">确认</a>
				</div>
			</div>
		</div>
<include file="Public/footer" />