<include file="Public/header" />
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="#" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 ">
					<p class="text-center font-lg"><b>产品经理服务协议</b></p>
					<div class="box-center box-content margin-top-27">
						<p>第一条：为了维护庖丁技术服务号的正常运营，规范产品经理咨询业务，根据国家有关法律法规制定本协议。</p>
<p>第二条：庖丁技术服务号运营方在利用客户提供的信息资源进行信息传播和自我服务时，应严格遵守国家的有关法律、法规和行政规章制度。包括《中华人民共和国计算机信息网络国际互联网管理暂行规定》、《中华人民共和国合同法》、工信部《中国公用计算机互联网国际联网管理办法》和《中国互联网络域名注册暂行管理办法》等有关法律规定。</p>
<p>第三条：客户发起预约产品经理，服务号运营方即认定客户需要运营方提供的方案咨询、可行性分析及项目开发报价。运营方可指派本公司正式员工或授权的第三方人员代表。第三方人员有运营方出具的资质证明。</p>
<p>第四条：方案的咨询方式包括但不限于现场咨询、电话咨询等其它信息技术手段，可行性分析包括但不限于口头咨询。咨询结果以口头与书面两种形式构成，书面的内容由系统框架图及开发报价表构成。</p>
<p>第五条：单次服务费用为人民币500圆整，在线支付。</p>
<p>第六条：因平台方原因未能按时提交正式的书面咨询内容，则赔付给客户合同金额。赔付在7个工作日内完成。</p>
<p>第七条：其它未尽事宜最终解释权由本平台保留。 </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 margin-top-37 text-center">
					<a href="__MODULE__/Proman/evaluation/apply_id/{$apply_id}" type="button" class="btn btn-return white-link text-center">返回</a>
				</div>
			</div>
		</div>
<include file="Public/footer" />