<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/site/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/site/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/site/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/site/js/jquery.js"></script>
</head>
<body>
<div class="wrap">
    <!--header-->
    <header class="header">
        <div class="center pa">
            <a class="back_in" href="javascript:history.back(-1)"></a>
        </div>
        <h1>定制系统</h1>
    </header>
    <!--header-->

    <div class="content">
        <div class="searchinput">
            <p>联系人姓名</p>
            <input type="text" name="1" value=""placeholder="请输入联系人" />
        </div>
        <div class="searchinput">
            <p>联系人手机号</p>
            <input type="text" name="1" value=""placeholder="请输入联系人" />
        </div>
        <div class="searchinput">
            <p>对标系统</p>
            <input type="text" name="1" value=""placeholder="请输入联系人" />
        </div>
        <div class="ant-row">
            <p>预算</p>
            <select name="" id="" class="option">
                <option value="10万内">10万内</option>
                <option value="15万内">15万内</option>
                <option value="25万内">25万内</option>
                <option value="50万内">50万内</option>
                <option value="50万内以上">50万内以上</option>
            </select>
        </div>
    </div>

    <div class="footer">
        <div class="tishi">
            <p>我们的客户经理将在3个工作日内联系您，请保持电话畅通.</p>
        </div>
        <button class="btn">提交申请</button>
    </div>

</div>
</body>
</html>