<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>合作单位</title>
    <meta name="description" content="庖丁科技众包服务平台携手国内外先进技术科研院所、顶级技术专家，以实现科技成果市场化为核心，为企业提供快速精准的需求匹配服务，从而实现企业以及科技资源的有效对接，帮助企业实现产业技术升级，助力先进技术完成产业化发展。" />
    <meta name="keywords" content="庖丁众包、智能技术、机械制造、健康医疗、材料科学、能源环保、生产流程优化"/>
    <meta name='viewport' content='user-scalable=no,width=750'>
    <link rel="stylesheet" href="{$Think.MOBILE}/css/common_new.css">
    <link rel="stylesheet" href="{$Think.MOBILE}/css/index.css">
    <link rel="stylesheet" href="{$Think.MOBILE}/css/activity.css">
    <style type="text/css">
        .certificate_book{
            width: 50%;
            height: 50%;
        }
    </style>
</head>
<body>
<div class="mask" style="display:none"></div>
<div class="contackWay_alert">
    <p class="contackWay">联系方式</p>
    <div class="alert_part clear">
        <p class="alert_part_l fl">联系人</p>
        <p class="alert_part_r fl">张东伟</p>
    </div>
    <div class="alert_part clear">
        <p class="alert_part_l fl">手机号</p>
        <p class="alert_part_r fl">1852020174</p>
    </div>
    <div class="alert_part clear">
        <p class="alert_part_l fl">邮箱号</p>
        <p class="alert_part_r fl">21343@qq.com</p>
    </div>
    <div class="alert_part clear">
        <p class="alert_part_l fl">企业名</p>
        <p class="alert_part_r fl">广州中国科技园先进技术研究所</p>
    </div>
    <div class="close" style="width:580px;">关闭</div>
</div>

<div class="banner">
    <img src="{$Think.MOBILE}/images/index-banner1.jpg" alt="">
</div>

<div class="tec_tab">
    <p class="active">企业简介</p>
    <p>前沿技术</p>
    <p>应用案例</p>
    <p>评价信用</p>
    <div class="slideBlock"></div>
</div>
<div class="index_div" style="margin-bottom:20px;"></div>
<!-- 企业简介 -->
<div class="tab_body" style="display:block;">
    <p class="companyIntro">
        关于广东英吉尔科技股份有限公司挂牌申请文件的第一次反馈意见的回复主办券商华创证券有限责任公司二〇一五年十二月/35广东英吉尔科技股份有限公司、...
    </p>
    <div class="index_div"></div>

    <div class="intro">
        <div class="userType clear">
            <span class="fl">用户类型</span>
            <img src="{$Think.MOBILE}/images/icon-index-cooperator-authenticated.jpg" alt="">
        </div>

        <div class="userType clear">
            <span class="fl">前沿技术</span>
            <span class="fl">237</span>
        </div>

        <div class="userType clear">
            <span class="fl">对接方向</span>
            <span class="fl mastiry_type">高分子材料，有机化学，硝酸铵，高分子材料，有机化学，硝酸铵，高分子材料</span>
        </div>

        <div class="userType clear">
            <span class="fl">应用行业</span>
            <span class="fl">建筑、环境装饰</span>
        </div>

        <div class="userType clear">
            <span class="fl">专利证书</span>
            <span class="fl">23项</span>
        </div>

        <div class="userType clear">
            <span class="fl">联系方式</span>
            <span class="fl" id="getContackWay" style="color:#ff971d">获取联系方式</span>
        </div>

        <div class="userType clear">
            <span class="fl">企业地址</span>
            <span class="fl">广州市天河区珠江新城265号</span>
        </div>
    </div>

    <div class="index_div"></div>

    <!-- 证书 -->
    <div class="cert_wrap">
        <div class="certi_main">
            <div class="clear show_cert">
                <div class="fl lump"></div>
                <span class="fl theme_tit">专利证书</span>
            </div>

            <!-- 专利证书 -->
            <div class="certificate clear" style="display: block;">
                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate1-orginal.jpg" alt="">
                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate2-orginal.jpg" alt="">
            </div>
        </div>

        <div class="certi_main">
            <div class="clear show_cert">
                <div class="fl lump"></div>
                <span class="fl theme_tit">荣誉证书</span>
            </div>
            <!-- 荣誉证书 -->
            <div class="certificate clear">
                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate1-orginal.jpg" alt="">
                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate2-orginal.jpg" alt="">
            </div>
        </div>

        <div class="certi_main">
            <div class="clear show_cert">
                <div class="fl lump"></div>
                <span class="fl theme_tit">其他证书</span>
            </div>
            <!-- 其他证书 -->
            <div class="certificate clear">

                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate1-orginal.jpg" alt="">


                <img src="{$Think.MOBILE}/images/index-cooperator-company-certificate2-orginal.jpg" alt="">

            </div>
        </div>
    </div>
    <div class="index_div" style="height:150px;margin-top:30px"></div>
</div>

<!-- 前沿技术 -->
<div class="tab_body">
    <div class="advancedWrap">
        <div class="main_section clear" ng-repeat="tech in techList">
            <div class="fl main_section_left">
                <img ng-src="{{tech.src}}" alt="">
                <!-- <p class="transfer">技术转让</p> -->
            </div>
            <div class="fr main_section_right">
                <p class="sec_tit">{{tech.title}}</p>
                <p>
                    <img src="{$Think.MOBILE}/images/icon-index-industry.png" alt="">
                    <span class="sec_industry">{{tech.type}}</span>
                </p>
                <p class="p_scan">
                    <img src="{$Think.MOBILE}/images/icon-index-browse.png" alt="">
                    <span class="sec_scan">2068</span>
                </p>
                <div class="adhi_print">
                    <span class="adhibition">应用类</span>
                    <span class="print">成熟方案</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 应用案例-->
<div class="tab_body" >
    <div class="advancedWrap">
        <div class="main_section clear" ng-repeat="tech in techList">
            <div class="fl main_section_left">
                <img ng-src="{{tech.src}}" alt="">
                <!-- <p class="transfer">技术转让</p> -->
            </div>
            <div class="fr main_section_right">
                <p class="sec_tit">{{tech.title}}</p>
                <p class="hot_ct" style="margin:-10px 0 20px;-webkit-line-clamp: 2;">士大士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫士大夫夫</p>
                <p>
                    <img src="{$Think.MOBILE}/images/icon-index-industry.png" alt="">
                    <span class="sec_industry">{{tech.type}}</span>
                </p>
                <p class="p_scan">
                    <img src="{$Think.MOBILE}/images/icon-index-browse.png" alt="">
                    <span class="sec_scan">3个月</span>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="tab_body" >
    <div class="evaluate clear">
        <div class="eva_section fl">
            <p class="grade">9.2</p>
            <span class="eva_type">技术先进性</span>
            <div class="line"></div>
        </div>
        <div class="eva_section fl">
            <p class="grade">9.2</p>
            <span class="eva_type">工作态度</span>
        </div>
        <div class="eva_section fl">
            <p class="grade">9.2</p>
            <span class="eva_type">技术速度</span>
            <div class="line"></div>
        </div>
        <div class="eva_section fl">
            <p class="grade">9.2</p>
            <span class="eva_type">工作质量</span>
        </div>
    </div>
    <div class="index_div"></div>
    <div class="evaluate clear">
        <div class="score fl">
            <img src="{$Think.MOBILE}/images/icon-index-cooperator-company-credit.png" alt="">
            信用基础分&nbsp;&nbsp;<span>9.6</span>
        </div>
        <div class="line2"></div>
        <div class="score fl">
            <img src="{$Think.MOBILE}/images/icon-index-cooperator-company-good.png" alt="">
            好评率&nbsp;&nbsp;<span>94%</span>
        </div>
    </div>
    <div class="index_div"></div>

    <div class="evaluate">
        <div class="telphone clear">
            <p class="request fl">需求方 <span>159****6789</span></p>
            <img  class="fl honest" src="{$Think.MOBILE}/images/icon-index-cooperator-honest.jpg" alt="">
        </div>
        <p class="commont">很满意，期待下次合作!</p>
        <p class="publish_time">2017-09-12</p>
        <div class="show_more">查看全部评论</div>
    </div>
    <div class="index_div"></div>

    <div class="certi_main2">
        <div class="clear show_cert">
            <div class="fl lump"></div>
            <span class="fl theme_tit">认证标签</span>
        </div>
        <div class="lable clear">
            <img class="fl" src="{$Think.MOBILE}/images/icon-index-cooperator-authenticated.jpg" alt="">
            <span class="fl">该企业通过平台资质审核标准认证</span>
        </div>
        <div class="lable clear" style="border:none">
            <img class="fl" src="{$Think.MOBILE}/images/icon-index-cooperator-honest.jpg" alt="">
            <span class="fl">若未履行合同要求，承诺赔付合同款</p>
        </div>
    </div>
</div>


<div class="sec_return">
    <a onclick="javascript:history.go(-1);">
        <img class="return_icon" src="{$Think.MOBILE}/images/icon-common-return.png" alt="">
    </a>
    <span class="collect">收藏</p>
</div>
</body>
<script src='{$Think.MOBILE}/js/jquery-3.0.0.min.js'></script>
<script src='{$Think.MOBILE}/js/angular.min.js'></script>
<script src='{$Think.MOBILE}/js/index.js'></script>
<script>

    $(function(){
        $('.certificate img').addClass('certificate_book');

    });

    // 导航栏tab切换
    $(".tec_tab p").on("click",function(){
        var index = $(this).index();
        var tranX = index*188;
        $(".slideBlock").css("transform","translateX("+tranX+"px)");
        $(this).addClass('active').siblings().removeClass('active');
        $(".tab_body").eq(index).show().siblings(".tab_body").hide();
    });

    // 查看联系人方式
    $(".close").on("click",function(){
        $(".mask").hide();
        $(".contackWay_alert").hide();
    });
    $(".mask").on("click",function(){
        $(".mask").hide();
        $(".big_cert").hide();
        $(".contackWay_alert").hide();
    });



    $("#getContackWay").on("click",function(){
        $(".mask").show();
        $(".contackWay_alert").show();
    });


    // 证书手风琴效果
    $('.show_cert').on('click',function(){
        //判断当前元素是否是展开状态
        if($(this).parent().find(".certificate").css('display')=="block"){
            $(this).parent().find(".certificate").slideUp(300);
            // $(this).find(".about_adviser_jt").attr("src","images/gywm-tdcy-icon-xx.png");
        }
        else{
            $(".certificate").slideUp(300);
            // $(".about_adviser_jt").attr("src","images/gywm-tdcy-icon-xx.png");
            $(this).parent().find(".certificate").slideDown(300);
            // $(this).find(".about_adviser_jt").attr("src","images/gywm-tdcy-icon-xs.png");
        }
    });
    // 显示大图
    $(".certificate").on("click",'.certificate_book',function(){
        var src = $(this).attr("src");
        var cert_img = '<img class="big_cert" src='+src+' alt="">'
        $('body').append(cert_img);
        $(".mask").show();
    });

    $('body').on("click",".big_cert",function(){
        $(".mask").hide();
        $(".big_cert").hide();
    });


</script>
</html>