<include file="Public/header" />


			<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 height-50 text-center bg-red">
					<img src="__PUBLIC__/home/img/logo2.png" alt="" class="width-112"/>
					<a href="{:U('Index/index')}" class="pull-right height-50"><img src="__PUBLIC__/home/img/center.png" alt="" class="icon-25" /></a>
				</div>
				<div class="col-xs-12 col-sm-12  text-center margin-top-17">
					<img src="__PUBLIC__/home/img/person.jpg"  alt="" class="head-portrait2 img-circle" />
				</div>
				<div class="col-xs-12 col-sm-12">
					<form action="{:U('Member/binding_do')}" method="post">
						<div class="form-group  box-input  width-272 box-center"><!--  height-74 -->
							<p id="p_username" class="height-25" style="visibility:hidden"><i class="glyphicon glyphicon-minus-sign font-sixteen red padding-10"></i><span class="tip">用户名为2~15位汉字</span></p>
							<input type="text" class="form-control  border-radius-top"   name="username" placeholder="用户名" required="required" min="3" max="20" value="{$username}">
							<input type="password" class="form-control border-radius-bottom"  style="margin-top:1px;" name="password" placeholder="密码" required="required" min="3" max="50">
							<p id="p_password" class="height-25" style="visibility:hidden"><i class="glyphicon glyphicon-minus-sign font-sixteen red padding-10"></i><span class="tip">请输入6位以上数字、字母、符号组合</span></p>
						</div>
						<div class="col-xs-12 col-sm-12  text-center">
							<button  type="button"  id="submit" class="btn btn-red white-link">绑定并登录</button>
						</div>
					</form>
				</div>
				<!-- margin-top-34 -->
			</div>
		</div>






    
	
<script>
var error = 0;
$('#submit').on('click',function(){
	
	$('#p_username').attr('style',"visibility:hidden").html('<i class="glyphicon glyphicon-minus-sign font-sixteen red padding-10"></i><span class="tip">用户名为2~15位汉字</span>');
	$('#p_password').attr('style',"visibility:hidden");
	var username = $("input[name='username']").val();
	var reg = /^[0-9a-zA-Z\u4e00-\u9fa5]{2,15}$/;
	var result = reg.exec(username);
	if(result == null){		
		$('#p_username').attr('style',"");	
		error = 0;
	}else{
		error = 1;
	}
	var password = $("input[name='password']").val();
	var reg1 = /^(?=.*[0-9a-zA-Z].*[0-9a-zA-Z]+).{6,16}$/;
	var result1 = reg1.exec(password);
	if(result1 == null){
		$('#p_password').attr('style',"");	
		error = 0;
	}else{
		error = 1;
	}
	if(error ==1){
		$.post("{:U('Member/checkweixin')}",{'username':username,'password':password},function(data){
			if(data.status ==0){
				$('#p_username').attr('style',"").html('<i class="glyphicon glyphicon-minus-sign font-sixteen red padding-10"></i><span class="tip">没有此用户</span>');
			}
			if(data.status==1){
				$('#p_password').attr('style',"").html('<i class="glyphicon glyphicon-minus-sign font-sixteen red padding-10"></i><span class="tip">密码输入有误</span>');
			}
			if(data.status==2){
				var url = "__MODULE__/Member/binding_isSuccess/uid/"+data.uid+"/username/"+data.username+".html" ;
				window.location.href = url;
			}
		},'json');
	}
});
</script>
<include file="Public/footer" />