<include file="Public/header" />
	<div class="container">
			<div class="row">
				<div class="col-xs-12 height-156 text-center">
					<img src="__PUBLIC__/home/img/logo.png" alt=""/>
				</div>
				<div class="col-xs-12">
					<div class="width-185 bg-red box-center text-center">
						<a href="{:U('Member/binding')}" class="font-sixteen white-link">绑定已有账号</a>
					</div>
				</div>
				<div class="col-xs-12 margin-top-27">
					<div class="width-185 bg-red box-center text-center">
						<a href="{:U('Member/register')}" class="font-sixteen white-link">注册新账号</a>
					</div>
				</div>
			</div>
		</div>
    
	<!--<div class="container">
		<div class="row">	
			<div class="col-md-3 col-xs-4"></div>
			<div class="col-md-6 col-xs-4"><a href="#"  class="thumbnail"><img src="{$User_weixin.headimgurl}" alt="微信公众号授权登陆"></a></div>
			<div class="col-md-3 col-xs-4"></div>
			<div class="col-md-12 col-xs-12 text-center">{$User_weixin.nickname}</div>

			<div class="col-md-12 col-xs-12">
				<a class="btn btn-default btn-block" href="{:U('Member/register')}" role="button">我没有账号，现在去注册</a>
				<a class="btn btn-default btn-block" href="{:U('Member/binding')}" role="button">我已有账号，现在区绑定</a>
			</div>
		</div>
		
		
	</div>-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>