<!doctype html>
<html lang="en" ng-app="user_info">
<head>
    <meta charset="UTF-8">
    <title>庖丁技术</title>
    <meta name="description" content="庖丁科技众包服务平台携手国内外先进技术科研院所、顶级技术专家，以实现科技成果市场化为核心，为企业提供快速精准的需求匹配服务，从而实现企业以及科技资源的有效对接，帮助企业实现产业技术升级，助力先进技术完成产业化发展。" />
    <meta name="keywords" content="庖丁众包、智能技术、机械制造、健康医疗、材料科学、能源环保、生产流程优化"/>
    <link rel="preload" href="{$Think.INDEX}/css/index.css" as="style">
    <link rel="stylesheet" href="{$Think.INDEX}/css/common_new.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/index.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/swiper.css">
</head>
<style>
    .form_inp2::-webkit-input-placeholder{
        font-size: 18px!important;
    }
</style>
<body style="background:#f4f4f4" ng-controller="infoCtrl" ng-cloak>
<input type="hidden" id="userId" value="{:session('userId')}">
<!-- 导航开始 -->
<include file="./Template/5u/index/public/nav.html" />

<div class="section clear">
    <div class="user_list fl">
        <div class="user_top">
            <div class="head">
                <img src="{:session('headPic')}" alt="">
            </div>
            <p class="user_name">{:session('nickName')}</p>
            <if condition="$Think.session.status eq 0">
                <div class="user_sta" style="background:#1e1e1e;">
                    <img class="user_status" src="{$Think.INDEX}/images/my-authenticated.png" alt="">
                    <span class="user_status_w">合格认证</span>
                </div>
                <elseif condition="$Think.session.status eq 1"/>
                <div class="user_sta">
                    <img class="user_status" src="{$Think.INDEX}/images/my-apply.png" alt="">
                    <span class="user_status_w">审核中</span>
                </div>
                <else />
                <div class="user_sta">
                    <img class="user_status" src="{$Think.INDEX}/images/my-apply.png" alt="">
                    <span class="user_status_w">未审核</span>
                </div>
            </if>
        </div>
        <ul class="my_msg">
            <a href="__CONTROLLER__/user_demand.html"><li>我的需求</li></a>
            <a href="__CONTROLLER__/user_tec.html"><li>我的技术</li></a>
            <a href="__CONTROLLER__/user_msg.html"><li>我的消息</li></a>
            <a href="__CONTROLLER__/user_collect.html"><li>我的收藏</li></a>
            <!--<a href="__CONTROLLER__/user_project.html"><li>对接项目</li></a>-->
            <a href="__CONTROLLER__/user_info.html"><li class="my_select">个人信息</li></a>
        </ul>
    </div>

    <div class="user_detail fl" >
        <div class="collect_list">
            <p class="col_btn col_active">个人资料</p>
            <p class="col_btn">认证中心</p>
        </div>

        <!-- 个人资料 -->
        <div class="tab_colbody" style="display:block">
            <div class="form_part clear">
                <p class="form_p fl">
                    <span class="form_span">昵称：</span>
                </p>
                <input type="text" class="form_inp2 fl" ng-value="user.nickname">
                <p class="change fl" id="changeName">修 改</p>
                <p class="confirm fl">确 定</p>
            </div>

            <div class="form_part clear">
                <p class="form_p fl">
                    <span class="form_span">手机号：</span>
                </p>
                <input type="text" class="form_inp2 fl" ng-value="user.mobile" readonly=readonly>
                <p class="change fl">
                    <img class="per_icon" src="{$Think.INDEX}/images/my-person-correct.png">
                    <span class="al_bind" ng-show="user.mobile==null">未绑定</span>
                    <span class="al_bind" ng-show="user.mobile!=null">已绑定</span>
                    <span class="changePhone">|</span>

                    <a href="change_phone.html" ng-if="user.mobile!=null">
                        <span class="changePhone"> 修 改</span>
                    </a>
                    <a href="User-change-phone.html" ng-if="user.mobile==null">
                        <span class="changePhone"> 绑 定</span>
                    </a>
                </p>
            </div>
           
            <div class="form_part clear">
                <p class="form_p fl">
                    <span class="form_span">密码：</span>
                </p>
                <input type="password" class="form_inp2 fl" placeholder="********">
                 <a href="change_psw.html" ng-if="user.mobile!=null"><p class="change fl">重置密码</p></a>
            </div>
            
        </div>
        <!-- 认证 -->
        <div class="tab_colbody">
            <div class="identify clear">
                <a href="company_authen.html">
                    <div class="gradi_p person_itf fl">
                        <img class="per_icon" src="{$Think.INDEX}/images/my-person-AC-enterprise-certificate.png" alt="">

                        <span class="person_span">企业认证</span>
                        <p class="inden_status">去认证</p>
                    </div>
                </a>

                <a href="person_authen.html">
                    <div class="gradi_c person_itf fl">
                        <img class="per_icon" src="{$Think.INDEX}/images/my-person-AC-certificate.png" alt="">
                        <span class="person_span">个人认证</span>
                        <p class="inden_status">去认证</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- 页脚 -->
<include file="./Template/5u/index/public/footer.html" />
</body>
<script src="{$Think.INDEX}/js/jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX}/js/common.js"></script>
<script src="{$Think.MOBILE}/js/angular.min.js"></script>
<script>

    var app = angular.module("user_info",[]);
    app.controller("infoCtrl",function ($scope,$http){
        var id = $("#userId").val();
        $http({
            method: 'GET',
            url: '/api.php/User/user_info/action/detail?id='+id,
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },

        }).then(function successCallback(response) {
            $scope.user = response.data.data;
        }, function errorCallback(response) {
        });
    });

    $(".col_btn").on("click",function(){
        var index = $(this).index();
        $(this).addClass('col_active').siblings('.col_btn').removeClass('col_active');
        $(".tab_colbody").eq(index).show().siblings(".tab_colbody").hide();
    });


    $("#changeName").on("click",function(){
        $(this).hide();
        $(".confirm").show();
    });
    $(".confirm").on("click",function(){
        tip_ct = "修改成功";
        tips.addtips(tip_ct);
    })
</script>
</html>