<!doctype html>
<html lang="en" ng-app="index">
<head>
    <meta charset="UTF-8">
    <title>庖丁技术</title>
    <meta name="description" content="庖丁科技众包服务平台携手国内外先进技术科研院所、顶级技术专家，以实现科技成果市场化为核心，为企业提供快速精准的需求匹配服务，从而实现企业以及科技资源的有效对接，帮助企业实现产业技术升级，助力先进技术完成产业化发展。" />
    <meta name="keywords" content="庖丁众包、智能技术、机械制造、健康医疗、材料科学、能源环保、生产流程优化"/>
    <link rel="shortcut icon" href="{$Think.INDEX}/images/favicon.ico">
    <link rel="preload" href="{$Think.INDEX}/css/index.css" as="style">
    <link rel="stylesheet" href="{$Think.INDEX}/css/common_new.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/index.css">
    <link rel="stylesheet" href="{$Think.INDEX}/css/swiper.css">
</head>
<body ng-controller="bannerCtrl" ng-cloak>
<!-- 导航开始 -->
<include file="./Template/5u/index/public/nav.html" />
<!-- 导航结束 -->
<!-- 轮播 -->
<div class="banner">
    <div class="swiper-container" id="swiper1">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="banner in banners" >
                <img src="{{banner.ad_code}}" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- 介绍 -->
<div class="introduce">
    <div class="section clear">
        <div class="int_part fl">
            <div class="int_icon">
                <img src="{$Think.INDEX}/images/index-icon1.png" alt="">
            </div>
            <span>国家级高新技术企业</span>
        </div>

        <div class="int_part fl">
            <div class="int_icon">
                <img src="{$Think.INDEX}/images/index-icon2.png" alt="">
            </div>
            <span>广东省省级科研众包平台</span>
        </div>

        <div class="int_part fl">
            <div class="int_icon">
                <img src="{$Think.INDEX}/images/index-icon3.png" alt="">
            </div>
            <span>专业的科技众包平台</span>
        </div>

        <div class="int_part fl">
            <div class="int_icon">
                <img src="{$Think.INDEX}/images/index-icon4.png" alt="">
            </div>
            <span ng-cloak>{{serve}}次科技服务对接</span>
        </div>
    </div>
</div>

<!-- 需求 -->
<div class="index_tit">
    <p class="tit1">最新需求</p>
    <p class="tit2">1000+需求项目正在推广中</p>
</div>

<div class="index_tab clear" id="tab_dem">
    <ul class="fl clear" ng-controller="demandCtrl">
        <li ng-repeat="demandType in demandTypes" ng-value="demandType.id" ng-cloak>{{demandType.cat_name}}</li>

        <img class="slide_div" id="slide_div1" src="{$Think.INDEX}/images/index-bar.png" alt="">
    </ul>
    <a class="more fr" href="__MODULE__/Demand/demand_show.html">更多需求>></a>
</div>

<!-- 需求列表 -->
<div class="section clear" ng-controller="demandList">
    <div class="demand_wrap" style="margin-left:-20px";>
        <div class="swiper-container" id="swiper_dem" style="padding-top: 6px;">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand1 in demands1">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand1.id}}">
                            <p class="demand_status">{{demand1.hzxs}}</p>
                            <p class="demand_time">{{demand1.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand1.title}}</p>
                            <p class="demand_ct threeline">{{demand1.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand1.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand1.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand1.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand2 in demands2">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand2.id}}">
                            <p class="demand_status">{{demand2.hzxs}}</p>
                            <p class="demand_time">{{demand2.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand2.title}}</p>
                            <p class="demand_ct threeline">{{demand2.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand2.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand2.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand2.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand3 in demands3">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand3.id}}">
                            <p class="demand_status">{{demand3.hzxs}}</p>
                            <p class="demand_time">{{demand3.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand3.title}}</p>
                            <p class="demand_ct threeline">{{demand3.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand3.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand3.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand3.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand4 in demands4">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand4.id}}">
                            <p class="demand_status">{{demand4.hzxs}}</p>
                            <p class="demand_time">{{demand4.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand4.title}}</p>
                            <p class="demand_ct threeline">{{demand4.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand4.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand4.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand4.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand5 in demands5">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand5.id}}">
                            <p class="demand_status">{{demand5.hzxs}}</p>
                            <p class="demand_time">{{demand5.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand5.title}}</p>
                            <p class="demand_ct threeline">{{demand5.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand5.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand5.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand5.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand6 in demands6">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand6.id}}">
                            <p class="demand_status">{{demand6.hzxs}}</p>
                            <p class="demand_time">{{demand6.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand6.title}}</p>
                            <p class="demand_ct threeline">{{demand6.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand6.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand6.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand6.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand7 in demands7">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand7.id}}">
                            <p class="demand_status">{{demand7.hzxs}}</p>
                            <p class="demand_time">{{demand7.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand7.title}}</p>
                            <p class="demand_ct threeline">{{demand7.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand7.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand7.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand7.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="demand_part shadow fl" ng-repeat="demand8 in demands8">
                        <a href="__MODULE__/Demand/demand_detail?data_id={{demand8.id}}">
                            <p class="demand_status">{{demand8.hzxs}}</p>
                            <p class="demand_time">{{demand8.create_time  | formatDate}}</p>
                            <p class="demand_title oneline">{{demand8.title}}</p>
                            <p class="demand_ct threeline">{{demand8.desc}}</p>
                            <div class="demand_bottom clear">
                                <p class="fl no_margin">
                                    <img src="{$Think.INDEX}/images/index-icon-industry.png" alt="">
                                    <span>{{demand8.cat_name}}</span>
                                </p>
                                <p class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                                    <span>{{demand8.yfys}}</span>
                                </p>
                                <p  class="fl">
                                    <img src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                                    <span>{{demand8.yfzq}}</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 技术 -->
<div class="index_tit">
    <p class="tit1">最新技术</p>
    <p class="tit2">汇聚前沿技术，助力企业升级</p>
</div>

<div class="index_tab clear" id="tab_tec">
    <ul class="fl clear" ng-controller="tecCtrl">
        <li ng-repeat="tecType in tecTypes" ng-value="tecType.id" ng-cloak>{{tecType.tag_name}}</li>
        <img class="slide_div"  id="slide_div2" src="{$Think.INDEX}/images/index-bar.png" alt="">
    </ul>
    <a class="more fr" href="__MODULE__/Tec/tec_show.html">更多技术>></a>

</div>

<!-- 技术列表 -->

<div class="section" ng-controller="tecList">
    <div class="project_wrap clear">
        <div class="swiper-container" id="swiper_tec">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec1.id}}" ng-repeat="tec1 in tecs1">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec1.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec1.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec1.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec1.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec1.cat_name}}</span>
                                <span class="print">{{tec1.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec2.id}}" ng-repeat="tec2 in tecs2">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec2.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec2.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec2.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec2.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec2.cat_name}}</span>
                                <span class="print">{{tec2.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec3.id}}" ng-repeat="tec3 in tecs3">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec3.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec3.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec3.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec3.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec3.cat_name}}</span>
                                <span class="print">{{tec3.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec4.id}}" ng-repeat="tec4 in tecs4">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec4.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec4.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec4.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec4.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec4.cat_name}}</span>
                                <span class="print">{{tec4.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec5.id}}" ng-repeat="tec5 in tecs5">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec5.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec5.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec5.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec5.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec5.cat_name}}</span>
                                <span class="print">{{tec5.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec6.id}}" ng-repeat="tec6 in tecs6">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec6.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec6.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec6.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec6.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec6.cat_name}}</span>
                                <span class="print">{{tec6.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec7.id}}" ng-repeat="tec7 in tecs7">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec7.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec7.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec7.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec7.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec7.cat_name}}</span>
                                <span class="print">{{tec7.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="__MODULE__/Tec/tec_detail.html?data_id={{tec8.id}}" ng-repeat="tec8 in tecs8">
                        <div class="tec_option shadow fl">
                            <img class="tec_img" ng-src="{{tec8.cover_url}}" width="256" height="190" alt="">
                            <p class="tec_list_tit">{{tec8.title}}</p>
                            <div class="publish_time">
                                发布于
                                <span>{{tec8.create_time | formatDate}}</span>
                            </div>
                            <div class="clear">
                                <img class="tac_icon fl" src="{$Think.INDEX}/images/tech-icon-industry.jpg" alt="">
                                <span class="tec_type fl">{{tec8.yyxy}}</span>
                            </div>
                            <div class="adhi_print">
                                <span class="adhibition">{{tec8.cat_name}}</span>
                                <span class="print">{{tec8.csd}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 最新动态 -->
<div class="index_tit">
    <p class="tit1">最新动态</p>
    <p class="tit2">剖析行业资讯，掌握技术趋势</p>
</div>

<div class="recent_news clear">
    <div class="part_rec fl" ng-repeat="activity in activities">
        <p class="hot_act">热门活动</p>
        <img class="news_pic" src="{{activity.sponsor_logo_url}}" alt="">
    </div>

    <div class="part_rec fl r_line" ng-repeat="activity in activities">
        <a class="rec_more" href="__MODULE__/Activity/activity_show.html">更多>></a>
        <a href="__MODULE__/Activity/activity_detail.html?data_id={{activity.id}}">
            <p class="rec_title twoline" ng-cloak>{{activity.title}}</p>
            <div class="recent_bottom">
                <p class="clear">
                    <img class="fl" src="{$Think.INDEX}/images/index-icon-time.png" alt="">
                    <span class="fl" ng-cloak>{{activity.formal_start_time}}</span>
                </p>
                <p class="clear">
                    <img class="fl" src="{$Think.INDEX}/images/index-icon-location.png" alt="">
                    <span class="fl address" ng-cloak>{{ activity.address }}</span>
                </p>
                <p class="clear">
                    <img class="fl" src="{$Think.INDEX}/images/index-icon-price.png" alt="">
                    <span class="fl" ng-cloak>{{activity.cost}}</span>
                </p>
            </div>
        </a>
        <p class="apply" ng-show="status==1">立即报名</p>
        <p class="apply" ng-show="status==0">了解详情</p>
    </div>

    <div class="part_rec r_box fl" ng-controller="newCtrl">
        <a class="rec_more2" href="#">更多>></a>
        <p class="hot_act">行业资讯</p>
        <div class="industry_news" ng-repeat="new in news">
            <a href="{{new.link}}" target="_blank">
                <div class="news_part clear">
                    <p class="fl news_tit oneline" ng-cloak>{{new.title}}</p>
                    <p class="fr news_time" ng-cloak>{{new.create_time | formatDate}}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- 合作单位 -->
<div class="index_tit">
    <p class="tit1">合作单位</p>
</div>

<div class="section" ng-controller="partnerCtrl">
    <div class="coop_wrap clear">
        <div class="coop_part shadow fl" ng-repeat="partner in partners">
            <a href="__MODULE__/Partner/partner_asso.html?data_id={{partner.id}}">
                <img lazy-src="{{partner.cover_url}}" alt="">
                <p class="oneline" ng-cloak>{{partner.title}}</p>
            </a>
        </div>

    </div>
</div>

<!-- 合作企业 -->
<div class="index_tit">
    <p class="tit1">合作企业</p>
</div>

<div class="section" ng-controller="companyCtrl">
    <div class="coop_wrap clear">
        <div class="coop_part2 shadow fl" ng-repeat="company in companys">
            <a href="__MODULE__/Partner/partner_topic.html?data_id={{company.id}}">
                <img lazy-src="{{ company.cover_url }}" alt="" height="135">
            </a>
        </div>
    </div>
</div>

<!-- 合作媒体 -->
<div class="index_tit">
    <p class="tit1">合作媒体</p>
</div>

<!-- 合作媒体轮播 -->
<div class="section">
    <div class="coop_wrap clear">
        <div class="swiper-container" id="swiper_cop">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/1.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/2.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/3.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/4.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/5.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/6.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/7.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/8.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/9.png" alt="">
                    </div>

                    <div class="coop_part2 shadow fl">
                        <img lazy-src="{$Think.INDEX}/images/10.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/11.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/12.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/13.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/14.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/15.png" alt="">
                    </div>
                    <div class="coop_part2 shadow fl">
                        <img src="{$Think.INDEX}/images/16.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<!-- 申请认证 -->
<div class="apply_indentify">
    <p class="indentify_tip">申请认证，技术/需求优先发布</p>
    <a href="/index.php/Index/User/user_info.html?authen=1">
        <p class="apply_btn">申请认证</p>
    </a>
</div>

<!-- 页脚 -->
<include file="./Template/5u/index/public/footer.html" />
</body>
<script src="{$Think.INDEX}/js/jquery-3.0.0.min.js"></script>
<script src='{$Think.INDEX}/js/angular.min.js'></script>
<script src='{$Think.INDEX}/js/me-lazyload.js'></script>
<script src='{$Think.INDEX}/js/common.js'></script>
<script src="{$Think.INDEX}/js/swiper.min.js"></script>
<script>

    var app = angular.module('index',['me-lazyload']);
    app.filter('formatDate',function(){
        return function(date){
            return date = date.substr(0,10);
        };
    });

    app.controller("bannerCtrl",function ($scope,$http){
        //轮播图
        $http({
            method:"GET",
            url:"/api.php/Index/banner?module=1"
        }).then(function successCallback(response) {
            $scope.banners = response.data.data;
        }, function errorCallback(response) {
        });

        //服务对接次数
        $http({
            method:"GET",
            url:"/api.php/ChannelIndex/index/action/count/channel/fwdj/type/1"
        }).then(function successCallback(response) {
            $scope.serve = response.data.data;
        }, function errorCallback(response) {
        });

        //最新活动
        var data={
            page:1,
            page_num:1,
            order_field:'create_time',
            category_id:0,
            tag_id:0,
            order_by:'DESC'
        };
        $http({
            method: 'POST',
            data: data,
            url: '/api.php/ChannelIndex/index/action/dataList/channel/hd/type/1',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            transformRequest: function (obj) {
                var str = [];
                for (var p in obj) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
                return str.join("&");
            }
        }).then(function successCallback(response){
            $scope.activities=response.data.data;
            var activities = response.data.data;
            var startTime = activities[0]['formal_start_time'];
            var changeTime = startTime.replace(/-/g, '/');
            if (Date.parse(new Date()) > Date.parse(changeTime)) {
                $scope.status = 0;//已结束
                // $scope.details['status']="0";//已结束
            } else {
                $scope.status = 1;//未举办
                // $scope.details['status']="1";//未举办
            }
        },function errorCallback(){

        })
    });

    app.controller("demandCtrl",function ($scope,$http){
        //最新需求
        // 需求类别栏目
        $http({
            method: 'GET',
            url: '/api.php/ChannelIndex/index/action/dataList/channel/xq/type/2',
        }).then(function successCallback(response) {
            $scope.demandTypes = response.data.data;
        }, function errorCallback(response) {
        });
    });

    app.controller("demandList",function ($scope,$http){
       //需求列表
        getByCategory(1,1);
        getByCategory(4,2);
        getByCategory(3,3);
        getByCategory(8,4);
        getByCategory(5,5);
        getByCategory(9,6);
        getByCategory(6,7);
        getByCategory(7,8);
        function getByCategory(category_id,num) {
            var data = {
                "page": "1",
                "page_num": "8",
                "order_field": "create_time",
                "order_by": "DESC",
                "category_id": category_id,
                "tag_id": "0",
            };
            $http({
                method: 'POST',
                data: data,
                url: '/api.php/ChannelIndex/index/action/dataList/channel/xq/type/1',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).then(function successCallback(response) {
                switch (num)
                {
                    case 1:
                        $scope.demands1 = response.data.data;
                        break;
                    case 2:
                        $scope.demands2 = response.data.data;
                        break;
                    case 3:
                        $scope.demands3 = response.data.data;
                        break;
                    case 4:
                        $scope.demands4 = response.data.data;
                        break;
                    case 5:
                        $scope.demands5 = response.data.data;
                        break;
                    case 6:
                        $scope.demands6 = response.data.data;
                        break;
                    case 7:
                        $scope.demands7 = response.data.data;
                        break;
                    case 8:
                        $scope.demands8 = response.data.data;
                        break;
                }
            }, function errorCallback(response) {
            });
        }
    });


    app.controller("tecCtrl",function ($scope,$http){
        //最新技术
        //技术类别栏目
        $http({
            method: 'GET',
            url: '/api.php/ChannelIndex/index/action/dataList/channel/js/type/4',
        }).then(function successCallback(response) {
            $scope.tecTypes = response.data.data;
        }, function errorCallback(response) {
        });

    });

    app.controller("tecList",function ($scope,$http){
        //技术列表
        getByTag(10,1);
        getByTag(2,2);
        getByTag(4,3);
        getByTag(7,4);
        getByTag(3,5);
        getByTag(13,6);
        getByTag(12,7);
        getByTag(8,8);
        function getByTag(tag_id,num) {
            var data = {
                "page": "1",
                "page_num": "8",
                "order_field": "create_time",
                "order_by": "DESC",
                "category_id": 0,
                "tag_id": tag_id,
            };
            $http({
                method: 'POST',
                data: data,
                url: '/api.php/ChannelIndex/index/action/dataList/channel/js/type/1',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).then(function successCallback(response) {
                switch (num)
                {
                    case 1:
                        $scope.tecs1 = response.data.data;
                        break;
                    case 2:
                        $scope.tecs2 = response.data.data;
                        break;
                    case 3:
                        $scope.tecs3 = response.data.data;
                        break;
                    case 4:
                        $scope.tecs4 = response.data.data;
                        break;
                    case 5:
                        $scope.tecs5 = response.data.data;
                        break;
                    case 6:
                        $scope.tecs6 = response.data.data;
                        break;
                    case 7:
                        $scope.tecs7 = response.data.data;
                        break;
                    case 8:
                        $scope.tecs8 = response.data.data;
                        break;
                }
            }, function errorCallback(response) {
            });
        }
    });

    app.controller("newCtrl",function ($scope,$http){
        //资讯
        var data={
            page:1,
            page_num:7,
            order_field:'create_time',
            order_by:'DESC'
        };
        $http({
            method: 'POST',
            data: data,
            url: '/api.php/ChannelIndex/index/action/dataList/channel/zx/type/1',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            transformRequest: function (obj) {
                var str = [];
                for (var p in obj) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
                return str.join("&");
            }
        }).then(function successCallback(response) {
            $scope.news = response.data.data;
        }, function errorCallback(response) {
        });
    });

    app.controller("partnerCtrl",function ($scope,$http){
        //合作单位

        $http({
            method: 'GET',
            url: '/api.php/ChannelIndex/index/action/dataList/channel/jtgs/type/1/page/1?page_num=5',
        }).then(function successCallback(response) {
            $scope.partners = response.data.data;
        }, function errorCallback(response) {
        });
    });

    app.controller("companyCtrl",function ($scope,$http){
        //合作企业

        $http({
            method: 'GET',
            url: '/api.php/ChannelIndex/index/action/dataList/channel/hzjg/type/1/page/1?page_num=5',
        }).then(function successCallback(response) {
            $scope.companys = response.data.data;
        }, function errorCallback(response) {
        });
    });

    var Swiper1 = new Swiper('#swiper1', {
        // loop:true,
        pagination : '.swiper-pagination',
        paginationClickable :true,
        autoplay:5000,
        observer:true,//修改swiper自己或子元素时，自动初始化swiper
        observeParents:true//修改swiper的父元素时，自动初始化swiper
    });

    var swiper_cop = new Swiper('#swiper_cop', {
        loop:true,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true,
    });

    var Swiper2 = new Swiper('#swiper_dem', {
        paginationClickable :true,
        autoplay: 5000,
        observer:true,
        observeParents:true,
        onSlideChangeStart: function(){
            var index = Swiper2.activeIndex;
            var num = index*86;
            if(index==7){
                num = 586;
            };
            $('#slide_div1').css('left',''+num+'px');
        },
    });

    var Swiper3 = new Swiper('#swiper_tec', {
        paginationClickable :true,
        autoplay: 5000,
        observer:true,
        observeParents:true,
        onSlideChangeStart: function(){
            var index = Swiper3.activeIndex;
            var num = index*86;
            if(index==7){
                num = 586;
            };
            $('#slide_div2').css('left',''+num+'px');
        }
    });

    $("#tab_dem").on("click","li",function(){
        var index = $(this).index();
        var num = index*86;
        if(index==7){
            num = 586;
        };
        $('#slide_div1').css('left',''+num+'px');
        Swiper2.slideTo(index, 500, false);
    }) ;

    $("#tab_tec").on("click","li",function(){
        var index = $(this).index();
        var num = index*86;
        if(index==7){
            num = 586;
        };
        $('#slide_div2').css('left',''+num+'px');
        Swiper3.slideTo(index, 500, false);
    });

    $("#first").addClass('selected-link');

    $(document).ready(function() {
        getUser();
    });

    function getUser() {
        var ifWeChatLogin = "{$ifWeChatLogin}";
        if(ifWeChatLogin == 1) {
            var url = "__ROOT__/{$Think.const.API_PATH}/User/WeChatLogin/code/{$code}";
            $.get(url, function (res) {
                window.location.href="__MODULE__/Index/index"
            })
        }
    }
</script>
</html>